<div class="register-card-base">

  <div class="top tray">
    <div class="top gold-border">
      <div class="top paper-body">
        <div class="rule-list">
          <div class="headline-text">
            Special Rules
          </div>
          <div *ngFor="let r of rules; let i = index" class="rule">
            <div class="rule-mover">
              <i class="fas fa-sort-up move-button"></i>
              <i class="fas fa-gavel"></i>
              <i class="fas fa-sort-down move-button"></i>
            </div>
            <div class="rule-text">
              <span class="author">by {{r.author}}</span>
              <span class="text">{{r.text}}</span>
            </div>
            <div class="delete-rule" (click)="removeRule(i)"><i class="fas fa-ban"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tray" (keyup)="addRuleByKey($event, textInput)">
    <div class="gold-border">
      <div class="paper-body">
          <div class="input-section">
            <textarea rows="4" placeholder="Add new rule here ..." #textInput></textarea>
            <div class="vertical-seperator"></div>
            <div class="add-button" (click)="addRule(textInput)"><i class="fas fa-share"></i></div>
          </div>
      </div>
    </div>
  </div>

</div>
