<div class="connected-player-box">
  <div class="player-displays">

    <div *ngFor="let p of players; index as i">
      <din [ngClass]="{'display-wrap': true, 'active': this.currentPlayerDisplayName === p.displayName}">
        <div class="display">
          <div class="img-container">
            <i *ngIf="p.isCurrentHost" class="fas fa-crown host"></i>
            <i *ngIf="!p.isConnected" class="fas fa-times disconnected"></i>
            <img class="avatar-img" src="https://www.kindernetz.de/-/id=474688/property=smallPano/width=752/height=423/pubVersion=2/a2v40z/Star.jpg">
          </div>
          <span class="name">
          <span class="index">{{i+1}}.</span>
          <span class="spacer"></span>
          <span>{{p.displayName}}</span>
        </span>
        </div>
      </din>
    </div>

  </div>
</div>
