.list-box {
  height: 100%;
  display: flex;
  align-items: center;
  color: grey;
}

img.animated-gif{
  width: auto;
  height: 300px;
}
img.animated-gif:hover{
  transition: all 0.2s ease-out;
  filter: drop-shadow(5px 5px 5px black);
  transform: scale(1.02);
}
img.animated-gif:active{
  transition: all 0.2s ease-out;
  filter: drop-shadow(0px 0px 0px black);
  transform: scale(1.0);
}
