
.golden-border {
  border-radius: 50%;
  padding: 5px;
  background:
    radial-gradient(ellipse farthest-corner at left bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at right top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.round-avatar {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.round-avatar img {
  border: var(--accent-color) solid 1px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: contain;
}
