.body-content {
  margin: 2rem auto 0;
}

.user-profile {
  border: 1px dashed aliceblue;
}

.transparent {
  background-color: rgba(48, 48, 48, 0.58);
  box-shadow: 3px 3px 11px 0 rgb(0, 0, 0);
  -webkit-box-shadow: 3px 3px 11px 0 rgb(0, 0, 0);
  -moz-box-shadow: 3px 3px 11px 0 rgb(0, 0, 0);
}

.card > .list-group > .list-group-item {
  background-color: transparent;
}

.icon {
  position: absolute;
  display: flex;
  width: 256px;
  top: 99%;
  left: 99%;
  transform: translate(-55%, -55%);
}

.btn,
.profile-btn::after {
  margin-right: 0.3rem;
}

.img-fit {
  object-fit: cover;
}
