<div class="container-fluid my-5">
  <div *ngIf="selectedFile?.status === 'ok'" class="alert alert-success">
    Image Uploaded Succesfuly!
  </div>
  <div *ngIf="selectedFile?.status === 'fail'" class="alert alert-danger">
    Image Upload Failed!
  </div>
  <div class="main-body">
    <div class="row gutters-sm">
      <!-- Left Side-->
      <div class="col-md-4 mb-3">
        <!-- User Profile -->
        <div class="card transparent">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img (click)="isCurrentUser && imageInput.click()" *ngIf="currentUser" #profilePic [src]="profileSource"
                alt="'Profile'" class="rounded-circle img-fit" width="200" height="200">

              <div class="mt-3">
                <h4>{{ (isCurrentUser)? currentUser?.display_name : foreignUser?.display_name }}</h4>
                <p class="text-secondary mb-1">Role (coming soon)</p>
                <p class="text-muted font-size-sm">Level (coming soon)</p>

                <a class="btn btn-primary profile-btn" [routerLink]="['./profile', currentUser.id]">Edit</a>
                <a class="btn btn-primary profile-btn" (click)="imageInput.click()" *ngIf="isCurrentUser">Upload</a>
                <a class="btn btn-outline-primary profile-btn" [routerLink]="['./profile', currentUser.id]">Message</a>
              </div>
            </div>
          </div>

          <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)" style="display: none" />
          <p class="small mr-3 text-right">dabei seit: {{ (isCurrentUser)
            ? (currentUser?.user_creation | date: "d. MMMM y")
            : (foreignUser?.user_creation | date: "d. MMMM y") }}
          </p>

        </div>
        <!-- End User Profile -->
        <div class="card mt-3 transparent">
          <ul class="list-group list-group-flush">

            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                  fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-instagram mr-2 icon-inline text-danger">
                  <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                  <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                  <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                </svg>Instagram</h6>
              <span class="text-secondary">coming soon</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-facebook mr-2 icon-inline text-primary">
                  <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                </svg>Facebook
              </h6>
              <span class="text-secondary">coming soon</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor"
                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-twitch mr-2 icon-inline">
                  <path d="M21 2H3v16h5v4l4-4h5l4-4V2zm-10 9V7m5 4V7"></path>
                </svg>Twitch
              </h6>
              <span class="text-secondary">coming soon</span>
            </li>

          </ul>
        </div>
      </div>
      <!-- End Left Side-->

      <!--Game History-->
      <div class="col-md-8">
        <app-gamehistory [currentUser]="foreignUser"></app-gamehistory>
      </div>
      <!--End Game History-->
    </div>
  </div>
  <div *ngIf="selectedFile?.pending" class="img-loading-overlay">
    <div class="img-spinning-circle"></div>
  </div>
</div>
