.sound-range::-webkit-slider-thumb {
  background: gray;
}

.sound-range::-moz-range-thumb {
  background: gray;
}

.sound-range::-ms-thumb {
  background: gray;
}

.sound-range {
  --form-range-thumb-bg: gray;
  --form-range-thumb-active-bg: grey;
  background-color: var(--accent-color);
}
