<div class="mb-3">
  <div class="row justify-content-center mx-3">
    <div class="col-12 mb-3">
      <label for="musicVolumeInput" class="form-label">Musik</label>
      <input
        id="musicVolumeInput"
        class="w-100 sound-range"
        type="range"
        [min]="MIN_VOLUME"
        [max]="MAX_VOLUME"
        [step]="VOLUME_STEPS"
        [value]="volumeMusic"
        (input)="handleChangeVolume($event)"
        (change)="handleChangeVolume($event)"
      />
    </div>

    <div class="col-12 mb-3">
      <label for="volumeInput" class="form-label">Soundeffekte</label>
      <input
        id="volumeInput"
        class="w-100 sound-range"
        type="range"
        [min]="MIN_VOLUME"
        [max]="MAX_VOLUME"
        [step]="VOLUME_STEPS"
        [value]="volumeSoundEffects"
        (input)="handleChangeSoundEffectVolume($event)"
        (change)="handleChangeSoundEffectVolume($event)"
      />
    </div>
  </div>
</div>
