
<div class="basic-window" cdkDrag cdkDragBoundary=".interface-bounds">
  <div class="window-handle" cdkDragHandle>Chat Window</div>
  <div class="window-content">
    <textarea class="chat-window" rows="8" cols="80" [(ngModel)]="chatContent" readonly #chat></textarea>
    <div class="chat-text-bar" (keyup)="enter($event)">
      <input type="text" placeholder="Type a message ..." [(ngModel)]="currentMessage">
      <button (click)="submitMessage()" (keyup)="enter($event)"><i class="fas fa-chevron-right"></i></button>
    </div>
  </div>
</div>
