
nav a {
  font-size: small;
  color: #8fff00;
}

nav a:visited {
  color: #5aa300;
}

.chat-window {
  resize: none;
}

.chat-text-bar {
  display: flex;
  width: 100%;
}

.chat-text-bar input {
  width: 95%;
  margin-right: auto;
  color: whitesmoke;
}

.chat-text-bar button {
  margin-right: auto;
  font-size: large;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  background-color: transparent;
}

.basic-window {
  left: 2%;
  bottom: 2%;
  position: absolute;
  pointer-events: visibleFill;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.76);
}

.window-handle {
  background-color: rgba(0, 0, 0, 0.51);
  color: darkgrey;
  font-size: small;
  padding: 2px;
}

.chat-window {
  background-color: transparent;
  border: 0;
  color: darkgrey;
}

.window-content {
  padding: 8px;
}

.interface-bounds {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
