
.lobby-body {
  max-width: 1500px;
  margin: 0 auto;
}

.top-level-box {
  background-color: rgba(48, 48, 48, 0.58);
  padding: 16px;
  margin: 16px;
  -webkit-box-shadow: 3px 3px 11px 0px rgb(0, 0, 0);
  -moz-box-shadow: 3px 3px 11px 0px rgb(0, 0, 0);
  box-shadow: 3px 3px 11px 0px rgb(0, 0, 0);
}

.top-level-head {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-level-splitter {
  border: black solid 1px;
}

.blue-text {
  color: lightskyblue;
  font-size: small;
}

.blue-text span {
  padding-left: 8px;
}

.headline {
  font-size: x-large;
  margin-left: 16px;
  margin-top: 16px;
}
.headlineContainer {
  display: flex;
  justify-content:space-between;
}
.languageContainer {
  padding-bottom: 0px;
  padding-top: 0px;
}

.split-box {
  display: flex;
  justify-content: space-around;
}

.column-box {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.column-box app-login {
  padding-bottom: 20%;
}
