<div>
  <div class="headlineContainer">
    <div class="headline">{{translation.text.gamesListTitle}}</div>
    <app-language-selector class="languageContainer top-level-box" (changeLang)="changeLanguage($event)"></app-language-selector>
  </div>

  <div class="top-level-box split-box">
    <div class="column-box" *ngIf="currentUser === undefined">
      <app-login [languageObjects]="translation.text"></app-login>
    </div>
    <div *ngIf="currentUser !== undefined">
      <app-profile-display [user]="currentUser"></app-profile-display>
    </div>
    <div class="top-level-splitter"></div>
    <app-gif-viewer [languageObjects]="translation.text"></app-gif-viewer>
  </div>

  <div class="top-level-box"  *ngIf="currentUser !== undefined">
    <div class="top-level-head">
      <button [disabled]="activeLobby !== undefined" (click)="create()">{{translation.text.gamesListCreate}}</button>
      <span class="blue-text" *ngIf="activeLobby !== undefined"><i class="fas fa-exclamation-triangle"></i><span>You are in a lobby and won't be able to host a new game.</span></span>
      <button (click)="refresh()"><i class="fas fa-redo"></i></button>
    </div>
    <app-game-display *ngIf="availableLobbies.length <= 0" [languageObjects]="translation.text" [isDummy]="true"></app-game-display>
    <div *ngIf="availableLobbies.length > 0">
      <app-game-display *ngFor="let game of availableLobbies" (join)="joinGame($event)" [isActive]="isActive(game)" [languageObjects]="translation.text" [game]="game" (leave)="onLeaveLobby($event)" ></app-game-display>
    </div>
  </div>

  <div class="top-level-box">
    <app-rules [languageObjects]="translation.text"></app-rules>
  </div>
</div>
