<form>
  <div class="register-card-base settings p-3">
    <h2>Einstellungen</h2>

    <div class="user-info-box">
      <app-menu-avatar class="d-flex"></app-menu-avatar>
    </div>

    <div class="seperator"></div>

    <app-menu-bottle-cap-picker></app-menu-bottle-cap-picker>

    <app-menu-settings-volume-slider></app-menu-settings-volume-slider>
    <div class="mb-3">
      <div class="row justify-content-center mx-3">
        <div class="col-12 mb-3">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="persistentDisplayCheckbox"
              name="persistentDisplayCheckbox" [(ngModel)]="persistentNamePlates" (change)="handleChange($event)" />
            <label class="form-check-label" for="persistentDisplayCheckbox">Spielernamen immer
              anzeigen</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>