
<div class="outer-box">
  <div class="round-avatar" (click)="fileInput.click()">
    <div><i class="fas fa-camera-retro"></i></div>
  </div>
  <div class="text">Name: {{user.display}}<span class="user-name"> #{{user.login}}</span></div>
  <div class="text">Since: {{(user.creationDate | date:'medium' )|| "undefined"}}</div>
  <div class="text">
    <button (click)="logout()"><i class="fas fa-door-open"></i> Logout</button>
  </div>
  <input
    style="display: none"
    type="file" (change)="onFileChanged($event)"
    #fileInput>
</div>
