
.register-card-base {
  --base-padding: 0.5rem;
  --seperator-padding: 0.25rem;
  --text-color: whitesmoke;
  --dim-text-color: grey;
  --accent-color: #4b4b4b;

  --positive-text-color: #51be53;
  --stall-text-color: #768cff;
  --denial-text-color: #ff8487;

  --light-bg: rgba(255, 255, 255, 0.1);
  --light-bg-hover: rgba(255, 255, 255, 0.2);

  min-width: 16rem;
  width: 50vw;
  max-width: 24rem;

  display: flex;
  flex-flow: column;

  height: 100%;
  max-height: 100%;
  min-height: 0;
}

.base-container {
  display: flex;
  flex-direction: column;
  padding: var(--base-padding);
  flex-grow: 1;
}

/*=======HEADDING=========*/

.vote-head {
  padding: var(--base-padding);
  display: flex;
  flex-direction: row;
  font-size: large;
  align-items: center;
}

.selected-history {
  display: flex;
  flex-direction: row;
  font-size: small;
  color: var(--dim-text-color);
}

.selected-history > div {
  margin-right: 0.3rem;
}

.selected-history > div .button:hover {
  color: var(--text-color);
}

.head-progress {
  font-size: medium;
  color: var(--dim-text-color);
  margin-left: auto;
}

.head-progress .highlight {
  color: var(--stall-text-color);
}

/*=====DEFAULT-PAGE======*/

.motivational-text {
  color: var(--positive-text-color);
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
  font-size: small;
}

.middle-caret {
  display: flex;
  font-size: medium;
  justify-content: center;
}

.default-button-container {
  margin-top: auto;
  align-self: center;

  display: flex;
  flex-direction: row;
}

.default-button-container > button {
  color: var(--positive-text-color);
}

.default-bg {
  background: url("../../../../assets/self-made-doubletick.svg") no-repeat bottom ;
  background-size: cover;
}

/*=====WAITING PAGE====*/

.waiting-bg {
  background: url("../../../../assets/self-made-ring.svg") no-repeat bottom ;
  background-size: cover;
}

.stall-text {
  color: var(--stall-text-color);
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
  font-size: small;
  display: flex;
  flex-direction: column;
}

.progress-spinner {
  align-self: center;
}

.wait-button-container {
  margin-top: auto;
  align-self: center;
}

/*=====DENIAL PAGE=====*/

.denial-bg {
  background: url("../../../../assets/self-made-cross.svg") no-repeat bottom ;
  background-size: cover;
}

.denial-text {
  color: var(--denial-text-color);
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
  font-size: small;
  display: flex;
  flex-direction: column;
}

.Ineligible-button-container {
  margin-top: auto;
  align-self: center;
}

.frowny-face {
  display: flex;
  font-size: medium;
  justify-content: center;
}

/*=====HINTS=======*/

.hints {
  padding: var(--base-padding);
  padding-top: 0;
  font-size: small;
  color: var(--dim-text-color);
}

.hints .head {
  font-size: medium;
}

/*=======VOTING/RESULTS============*/

.voting-head-container {
  display: flex;
  flex-direction: row;
}

.abort-button {
  margin-left: auto;
}

.pre-subscript {
  font-size: small;
  color: var(--dim-text-color);
}

.voting-head {
  margin-bottom: 0.5rem;
}

/* ------ vote entry ---------*/

.entry-container {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;

  cursor: default;
}

.vote-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: var(--light-bg) solid 1px;
  border-radius: 5px;
  background-color: var(--accent-color);

  padding: 0.5rem;
}

.vote-entry:hover {
  background-color: #374b3a;
  transition: 0.2s;
}

.selected {
  border-color: var(--positive-text-color);
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-right: 0.5rem;
}

.info-box > div {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.info-box .info-text {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: small;
}

.entry-text {
  display: flex;
  flex-direction: row;

  overflow: hidden;
  position: relative;
  align-items: center;

  width: 100%;
  height: 100%;

  margin-left: 0.5rem;
}

.percentile {
  margin-left: auto;
  padding-left: 0.5rem;
}

.display-bar-bg {
  width: 100%;
  height: 0.2rem;
  background-color: var(--light-bg);
}

.display-bar {
  height: 100%;
  background-color: var(--positive-text-color);
  transition: 0.2s;
}

.vote-counter {
  font-size: large;
  padding: 0.5rem;
}

.participants-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -7.5px;
  min-height: 15px;
}

.participants {
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  border-radius: 50%;
}

/*----Vote count down-----*/

.closure-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--denial-text-color);
}

.host-closure-button {
  margin-top: auto;
}

.host-closure-button > button {
  width: 100%;
}

.close-vote-button {
  color: var(--positive-text-color);
}

/* ============ RESULTS ==============*/



.result.vote-entry {
  padding: 0.25rem;
  border: var(--accent-color) solid;
}

.metal-border {
  padding: 0.25rem;
  background: var(--accent-color);
  border-radius: 5px;
}

.no1 .metal-border {
  background: var(--golden-radial-bg);
}

.no1 .gold-laurel {
  position: absolute;
  width: 90px;
  height: 90px;

  transform: translate(-30%, -30%);

  background-image: url("../../../../assets/laurel_wreath_gold.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.no1 .vertical-separator {
  border-color: transparent;
}

.no1 .vote-counter {
  position: relative;
}

.no2 .metal-border {
  background: var(--silver-radial-bg);
}

.no3 .metal-border {
  background: var(--bronze-radial-bg);
}

.back-button {
  margin-top: auto;
}
