
<div class="register-card-base">

  <div class="vote-head">
    <div class="head-text">
      <div>Voting System</div>
      <div class="selected-history">
        <div>Result:</div>
        <div (click)="previousHistoricResult()"><i class="fas fa-caret-left button"></i></div>
        <div>{{ (currentHistoryResult + 1) === resultHistory.length ? 'Latest' : currentHistoryResult + 1 }}</div>
        <div (click)="nextHistoricResult()"><i class="fas fa-caret-right button"></i></div>
      </div>
    </div>
    <div class="head-progress" *ngIf="gameState.isGameLoaded()">
      <!-- VoteStage 2 should be creation -->
      <i [ngClass]="gameState.getVoteState().voteStage === 2 ? 'fas fa-circle-notch fa-spin highlight' : 'far fa-circle'"></i>
    </div>
    <div class="head-progress" *ngIf="!gameState.isGameLoaded()">
      <i class="far fa-circle"></i>
    </div>
  </div>

  <div class="seperator"></div>

  <!-- result history -->
  <app-vote-result-display [currentResult]="resultHistory[currentHistoryResult]" [totalVoteCount]="resultHistory.length"></app-vote-result-display>

  <div class="seperator"></div>

  <!-- Default page -->
  <div *ngIf="voteSystemState === stateEnum.default" class="base-container default-bg">
    <div class="motivational-text">
      <div>Nobody is currently creating a voting. Make your own!</div>
      <div class="middle-caret"><i class="fas fa-sort-down"></i></div>
    </div>
    <div class="default-button-container">
      <button (click)="triggerVoteCreation($event)">Create new Voting</button>
      <button (click)="voteSystemState = stateEnum.results" *ngIf="hasConcluded">Last Results<i class="fas fa-angle-double-right"></i></button>
    </div>
  </div>


  <!-- Wait page -->
  <div *ngIf="voteSystemState === stateEnum.waiting" class="base-container waiting-bg">
    <div class="stall-text">
      <div>{{voteHost || 'undefined'}} is creating a vote. Wait for him to finish.</div>
      <mat-progress-spinner class="progress-spinner" mode="indeterminate" [diameter]="15"></mat-progress-spinner>
    </div>
    <div class="wait-button-container">
      <button disabled>Create new Voting</button>
    </div>
  </div>


  <!-- Ineligible page -->
  <div *ngIf="voteSystemState === stateEnum.notEligible" class="base-container denial-bg">
    <div class="denial-text">
      <div>There is a vote going on but you are not allowed to participate.</div>
      <div class="frowny-face"><i class="fas fa-frown"></i></div>
    </div>
    <div class="Ineligible-button-container">
      <button disabled>{{activeVotesCast}} / 10 Voted</button>
    </div>
  </div>


  <!-- Create page -->
  <app-vote-creator *ngIf="voteSystemState === stateEnum.creating" class="base-container" (voteConfiguration)="triggerVoteBegin($event)"></app-vote-creator>

  <!-- Vote page -->
  <div *ngIf="voteSystemState === stateEnum.voting" class="base-container">

    <div class="voting-head-container">
      <div class="voting-head" *ngIf="gameState.isGameLoaded()">
        <div class="pre-subscript">Select your option:</div>
        {{gameState.getVoteState().voteConfiguration.title}}
      </div>
      <button class="abort-button" *ngIf="this.gameState.getMe().displayName === voteHost">Cancel</button>
    </div>


    <div *ngIf="gameState.isGameLoaded()">
      <div *ngFor="let ve of this.gameState.getVoteState().voteConfiguration.votingOptions; let i = index" class="entry-container disable-user-select">
        <div class="vote-entry" (click)="castVote(i)">
          <div class="info-box">
            <div class="info-text">
              <app-player-icon [loginName]="ve.playerHandle" [size]="'20px'" [borderThickness]="'2px'" *ngIf="ve.isPlayerEntry"></app-player-icon>
              <div class="entry-text">
                <span class="text">{{ve.text}}</span>
              </div>
              <span class="percentile">{{voteEntryPercentileDisplay[i]}}%</span>
            </div>
            <div class="display-bar-bg"><div class="display-bar" [ngStyle]="{'width': voteEntryPercentileDisplay[i] + '%'}"></div></div>
          </div>
          <div class="vertical-separator"></div>
          <div class="vote-counter">{{ve.castVotes.length || 0}}</div>
        </div>
        <div class="participants-container">
          <div *ngFor="let playerHandle of ve.castVotes" class="participants">
            <app-player-icon [loginName]="gameState.getLoginName(playerHandle)" [size]="'15px'" [borderThickness]="'0px'"></app-player-icon>
          </div>
        </div>
      </div>
    </div>


    <div class="closure-alert" *ngIf="this.gameState.getVoteState().closingIn >= 0">
      <div class="static">The vote is being closed in:</div>
      <div class="count-down">{{timerDisplay}}</div>
    </div>

    <div class="host-closure-button">
      <button *ngIf="this.gameState.getMe().displayName === voteHost" class="close-vote-button" (click)="triggerCloseVotingSession($event)">Close voting session</button>
      <button *ngIf="!(this.gameState.getMe().displayName === voteHost)" disabled>Only {{voteHost}} can close the voting.</button>
    </div>
  </div>

  <!-- results -->
  <div *ngIf="voteSystemState === stateEnum.results" class="base-container">

    <div class="voting-head-container">
      <div class="voting-head" *ngIf="gameState.isGameLoaded()">
        <div class="pre-subscript">Results:</div>
        {{gameState.getVoteState().voteConfiguration.title}}
      </div>
    </div>

    <div *ngIf="gameState.isGameLoaded()">
      <div *ngFor="let ve of this.gameState.getVoteState().voteConfiguration.votingOptions; let i = index"
           [ngClass]="{'entry-container disable-user-select result': true, 'no1': i === 0, 'no2': i === 1, 'no3': i === 2, 'noN': i > 2}">

        <div class="metal-border">
          <div class="vote-entry">
            <div class="info-box">
              <div class="info-text">
                <app-player-icon [loginName]="ve.playerHandle" [size]="'20px'" [borderThickness]="'2px'" *ngIf="ve.isPlayerEntry"></app-player-icon>
                <div class="entry-text">
                  <span class="text">{{ve.text}}</span>
                </div>
                <span class="percentile">{{voteEntryPercentileDisplay[i]}}%</span>
              </div>
              <div class="display-bar-bg"><div class="display-bar" [ngStyle]="{'width': voteEntryPercentileDisplay[i] + '%'}"></div></div>
            </div>
            <div class="vertical-separator"></div>
            <div class="vote-counter"><div class="gold-laurel"></div>{{ve.castVotes.length || 0}}</div>
          </div>
        </div>



        <div class="participants-container">
          <div *ngFor="let playerHandle of ve.castVotes" class="participants">
            <app-player-icon [loginName]="gameState.getLoginName(playerHandle)" [size]="'15px'" [borderThickness]="'0px'"></app-player-icon>
          </div>
        </div>


      </div>
    </div>

    <div class="back-button">
      <button (click)="voteSystemState = stateEnum.default"><i class="fas fa-angle-double-left"></i>Back</button>
    </div>
  </div>

  <div class="seperator"></div>

  <div class="hints">
    <div class="head">Hints:</div>
    <div>- Only one vote can be created at a time.</div>
    <div>- Creating a vote will notify all other players.</div>
  </div>

</div>

