

.tray-wrapper {
  pointer-events: visibleFill;

  transition-property: transform;
  transition-duration: 1.5s;
  transition-timing-function: cubic-bezier(.63,-0.34,.36,1.22);

  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
  background-color: transparent;
  position: fixed;
  display: inline-flex;
  margin: auto;
  height: 40vh;
  padding-right: 2em;
  top: 57%;
  right: 0;
}

.tray-handle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  width: 2.5em;
  height: 3em;
  background-color: rgba(61, 61, 61, 0.8);
}

.tray {
  padding: 0.75em;
  background-color: rgba(61, 61, 61, 0.8);
  width: 25em;
  display: flex;

}

.gold-border {
  padding: 0.15em;
  background:
    radial-gradient(ellipse farthest-corner at left bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at right top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
  flex-grow: 1;
  display: flex;
}

.paper-body {
  color: #4b4b4b;
  background: url("../../../../assets/old-paper-texture-background.jpg");
  box-shadow: inset 0 0 0.2em 0.15em rgba(0, 0, 0, 0.6);
  flex-grow: 1;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
}

.content-head {
  display: flex;
  justify-content: center;
}

.headline-text {
  font-size: large;
  border-bottom: #4b4b4b solid 2px;
}

.votingContainer {
  overflow-y: auto;
  margin: 15px;
  padding: 5px 5px 15px;
  background-color: rgba(16, 16, 16, 0.4);
  color: whitesmoke;
  height: 100%;
}
.playerName {
  color: white;
}
.cardTitle {
  color: whitesmoke;
}

.hidden {
  transform: translateX(28.5em);
}
.votingContainerCreate {
  margin: 10px;
  padding: 5px 5px 5px;
  background-color: rgba(16, 16, 16, 0);
  display: flex;
  flex-direction: column;
  height: 100%;
}
.progressSpinner {
  margin: 0 !important;
  justify-self: center;
  position: relative;
}
.example-chip-list {
  width: 100%;
}

.transformationX {
  transition-property: transform;
  transition-duration: 1.5s;
  transition-timing-function: cubic-bezier(.63,-0.34,.36,1.22);
  transform-origin: 13px 9px;
}
.rotatedX {
  transform: rotateZ(225deg);
}
.playerAdded {
  fill:url(#copperGradient);
}
.playerRemoved {
  fill:url(#greenGradient);
}
.deselected {
  background-color: rgba(192, 192, 192, 0.3);
  color: rgba(0, 0, 0, 0.3);
}
.clearIcon {
  margin-left: auto;
  color: red;
  align-self: flex-end;
}
.playerList {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.completeButtonContainer {
  position: fixed;
  bottom: 8px;
  right: 8px;
}
.actionButtons {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  top: 0px;
  right: 10px;
}
