
:focus {outline:none !important;}

.positioning {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sizing {
  flex-grow: 1;
  display: flex;
  align-items: stretch;

  margin: 5rem;
  height: 60vh;
  max-width: min(80rem, 120vh);

  background-color: #3d3d3d;
  -webkit-box-shadow: 3px 3px 11px 0 rgb(0, 0, 0);
  -moz-box-shadow: 3px 3px 11px 0 rgb(0, 0, 0);
  box-shadow: 3px 3px 11px 0 rgb(0, 0, 0);
}

.base {
  flex-grow: 1;
  position: relative;
}

.swapped > .color-section {
  right: 60%;
}

.swapped > .content-section {
  left: 40%;
}

.color-section {
  transition: 1s;
  position: absolute;
  right: 0;

  background: rgb(12,22,80);
  background: linear-gradient(0deg, rgba(12,22,80,1) 0%, rgba(122,226,134,1) 100%);

  width: 40%;
  height: 100%;
}

.content-section {
  transition: 1s;
  position: absolute;
  left: 0;

  margin-left: 5%;
  margin-right: 5%;
  width: 50%;
  height: 100%;
}

.content-section > h1 {
  margin-top: 0;
}

.content-section:hover + .color-section > p {
  color: rgba(255, 255, 255, 0.5);
}

.content-section:hover + .color-section > button {
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

.content-section:hover + .color-section > .hint {
  color: rgba(255, 255, 255, 0.2);
}

/* --Content CSS-- */

/* Color-content */
.color-content-A {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;


  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.color-content-B {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.color-content-A > p {
  transition: 1s;
}

.hint {
  font-size: small;
  transition: 1s;
  color: rgba(255, 255, 255, 0.5);
}

.swap-button {
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;

  border: 2px solid white;
  background: transparent;
  width: 65%;
  height: 4rem;

  transition: border 1s, color 1s;

  font-size: medium;
}

.swap-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.swap-button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Content-content */
.content-content-A {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  border: 1px solid lightgrey;

  width: 65%;
  height: 3rem;
  margin-bottom: 1rem;

  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}

.input-container > input {
  width: 80%;
  color: lightgrey;

  border-bottom: 1px solid grey;
}

.submit-button {
  display: grid;
  grid-template-columns: 10% auto 10%;
  align-items: center;

  background: transparent;
  border: 1px solid lightgrey;

  width: 40%;
  height: 3rem;
}
.submit-button > mat-spinner {
  grid-column: 1;
}
.submit-button > span {
  grid-column: 2;
}

.info-container {
  display: flex;
  align-items: center;

  width: 65%;
  height: 2rem;
  margin-top: 5%;
  padding: 0.3rem;

  margin-left: 0;

  transition: 0.5s;

  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}

.info-container > i {
  margin-right: 1rem;
}

.info-text {
  font-size: small;
}

.hidden {
  margin-left: -2rem;
  color: transparent;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.0);
}

.warning {
  border: 1px solid lightcoral;
  color: rgb(93, 24, 24);
  background: #c16666;
}

.outdated {
  border: 1px solid #723d3d;
  color: #c16666;
  background: rgba(138, 36, 36, 0.2);
}

.success {
  border: 1px solid lightgreen;
  color: #113403;
  background: rgb(75, 145, 64);
}

.content-content-B {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-sheet {
  display: grid;
  grid-template-columns: auto 8%;
  grid-template-rows: auto min(15%, 4rem) min(15%, 4rem) min(15%, 4rem) min(15%, 3rem) auto auto;

  align-items: start;
  justify-items: center;

  width: 80%;
  height: 100%;
}

.register-sheet > .warning-container {
  grid-column: 1 / 3;
  align-self: start;
  height: unset;
  margin-top: 0;
}

.requirements {
  align-self: center;
  position: relative;
}

.requirements > i {
  transition: color 0.5s;
}

.requirements:hover > .requirement-tooltip {
  display: block;
}

.requirement-tooltip {
  position: absolute;
  display: none;
  right: 50%;
  bottom: 100%;
  min-width: 15vw;
}

.tooltip-text {
  padding: 0.2rem;
  font-size: small;

  color: #3d3d3d;
  background-color: lightgrey;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}

.tooltip-arrow {
  align-self: flex-end;
  width: 0;
  height: 0;
  float: right;
  border-top: 1rem solid lightgrey;
  border-left: 1rem solid transparent;
}


.register-sheet > h1 {
  grid-column: 1 / 3;
  margin-bottom: 0;
}

.register-sheet > .submit-button {
  grid-column: 1 / 3;
  align-self: center;
}

.submit-button:disabled {
  border: 1px solid #c16666;
}

.register-input {
  grid-column: 1;
  width: 100%;
  font-size: small;
  color: lightgrey;

}

.slim-input-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  border: 1px solid lightgrey;
  font-size: medium;

  width: 100%;
  height: 2rem;

  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}

.slim-input-container > input {
  width: 80%;
  color: lightgrey;

  border-bottom: 1px solid grey;
}

.violated {
  color: #c16666;
}
