
/*====MISC======*/
.creation-head {
  display: flex;
  flex-direction: row;
}

.head-text {
  font-size: large;
}

.abort-button {
  margin-left: auto;
}

.base {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.base > div {
  margin-bottom: 2rem;
}

.base .button-container {
  margin-bottom: 0;
}

/*======TITLE====*/

.title-input-container {
}

.text-input-container {
  background-color: var(--accent-color);
  display: flex;
  flex-grow: 1;
  border: var(--accent-color) 1px solid;
  border-radius: 1rem;
  padding: 0.2rem 0.8rem;
  min-width: 0;
}

.text-input-container > input{
  flex: 1;
  color: var(--text-color);
  border-bottom: var(--dim-text-color);
  min-width: 0;
}

.text-input-container > input::placeholder {
  color: var(--dim-text-color);
}

.text-input-container .inner-label {
  color: var(--dim-text-color);
}

/*=======ELIGIBLES======*/

.eligibility-head {
  font-size: medium;
}

.wrapping-player-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 0.2rem;
}

.eligibility-selector {
  cursor: pointer;

  background-color: var(--accent-color);
  border: var(--accent-color) solid 1px;

  border-radius: 5px;
  padding: 0.2rem;
  margin: 0.2rem;

  display: flex;
  flex-direction: row;
}

.eligibility-selector:hover {
  background-color: var(--light-bg-hover);
}

.eligibility-selector:hover .info-container .state-icon {
  color: var(--denial-text-color);
}

.info-container {
  margin-left: 0.2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.info-container > i {
  margin-left: auto;
  font-size: small;
}

.info-container .name {
  margin-top: auto;
}

.ineligible {
  color: var(--denial-text-color);
}

.eligible {
  color: var(--positive-text-color);
}

/*===== VOTING OPTIONS =======*/

.vote-option-head {
  display: flex;
  flex-direction: row;
}

.vote-option-head > span {
  font-size: x-small;
  align-self: center;

  background-color: var(--accent-color);
  color: var(--dim-text-color);
  border: var(--light-bg) 1px solid;

  padding: 0.1rem;
  margin-right: 0.2rem;
  border-radius: 2px;

  cursor: pointer;
}

.first-tool-button {
  margin-left: auto;
}

.last-tool-button {
  margin-right: 0;
}

.vote-option-head > span:hover {
  background-color: var(--register-hover-background);
}

.add-option-container {
  display: flex;
  flex-direction: row;
}

.modify-button {
  background-color: var(--accent-color);
  color: var(--dim-text-color);
  padding: 0.35rem;
  margin-left: 0.4rem;
  border: var(--light-bg) 1px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  font-size: small;
}

.modify-button:hover {
  background-color: var(--register-hover-background);
}

.current-options-container {
  padding-top: 0.2rem;
}

.vote-option {
  display: flex;
  font-size: small;
  flex-direction: row;
  align-items: center;

  color: var(--dim-text-color);
  border: transparent solid 1px;
  background-color: var(--accent-color);

  padding: 0.2rem;
  margin-bottom: 0.2rem;
  border-radius: 5px;
}

.vote-option:hover {
  border: var(--denial-text-color) solid 1px;
}

.vote-option > i {
  font-size: x-small;
  border: var(--dim-text-color) solid 1px;
  padding: 0.15rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.vote-option .remove-indicator {
  border: none;
  margin-left: auto;
  margin-right: 0.2rem;
  font-size: medium;
  color: var(--dim-text-color);
}

.vote-option:hover .remove-indicator {
  color: var(--denial-text-color);
}

.emptiness-indicator {
  justify-content: center;
  background-color: transparent;
  border: 1px dashed var(--dim-text-color);
  cursor: default;
}

.emptiness-indicator:hover {
  border: 1px dashed var(--dim-text-color);
}

/*=====BUTTONS====*/

.button-container {
  margin-top: auto;
  display: flex;
  flex-direction: row;
}


.submit {
  color: var(--positive-text-color);
  margin-left: auto;
  flex-grow: 1;
}

