<div class="login-box">
  <span>{{languageObjects.logInTitle}}</span>
  <div class="spacer" ></div>
  <div>
    <label>
      {{languageObjects.logInUser}}
      <input placeholder="{{languageObjects.logInUser}}">
    </label>
  </div>
  <div>
    <label>
      {{languageObjects.logInPass}}
      <input type="password" placeholder="{{languageObjects.logInPass}}">
    </label>
  </div>
  <div class="buttons">
    <button>{{languageObjects.logInSubmit}}</button>
    <span (click)="openRegisterDialog()" class="register-link">{{languageObjects.logInRegister}} <i class="fas fa-angle-double-right"></i></span>
  </div>
</div>
