<div [@fading]="state" class="banner-style">

  <div *ngIf="!ownTurn">
    <div class="faded-line"></div>
    <div class="others-turn">
      <div>{{currentPlayerDisplayName$ | async}}'s Zug</div>
    </div>
    <div class="faded-line"></div>
  </div>

  <div *ngIf="ownTurn">
    <div class="background-line left golden-faded-line"></div>
    <div class="background-line right golden-faded-line"></div>
    <div class="golden-faded-line"></div>
    <div class="own-turn">
      <div>Du bist dran!</div>
    </div>
    <div class="golden-faded-line"></div>
  </div>

</div>