<div id="intro-container" *ngIf="visible">
    <i id="close-btn" class="fas fa-times" (click)="hide()"></i>
    <div id="text-container">
        <h1>Willkommen!</h1>
        <p>
            Ich denke du könntest etwas Hilfe gebrauchen. Die Website hast du schon gefunden und
            auch das Erstellen oder das Betreten eines Raumes waren auch kein Problem.
            Lass mich dir nur kurz die Basics erklären.
        </p>
        <h2>Was ist Tischspiel spielen?</h2>
        <p>
            Das Tischspiel ist ein Trinkspiel. Es geht darum mit und über deine Freunde zu lachen, während diese diverse
            Aufgaben bewältigen. Aber trotzdem keine Zeit sich auszuruhen, dich trifft es bestimmt auch mal.
            Wie jedes andere Trinkspiel auch, sind ein paar Freunde wirklich hilfreich.
            Für die Online Variante sammelt ihr euch am besten in einem Video/Voicechat.
            Voicechat geht zwar auch, aber ich verspreche euch, es lohnt sich eine Kamera aufzubauen.
        </p>
        <p>
            Für ein Trinkspiel ist natürlich auch noch etwas zum Trinken notwendig.
            Natürlich geht es ums trinken, aber bitte tut uns und euch den Gefallen und hört auf, BEVOR es euch schlecht geht.
            Wenn ihr nun alles beisammen habt, können wir eigentlich schon anfangen.
        </p>

        <h2>Wie spiele ich eigentlich?</h2>
        <p>
            Das ist ganz einfach. Ihr seid nacheinander an der Reihe. Oben Links siehst du die Spielerliste und der Pfeil zeigt
            die Spielrichtung an. Dein Zug ist wie bei jedem Würfelspiel. Klicke auf den blauen Würfel um zu würfeln. Dann ziehe
            mit deinem Kronkorken(Spielfigur) soviele Felder nach vorne. Der Pfad ist wie eine Spirale und wenn du über die
            goldene Kante ziehst statt dem Weg zu Folgen ist das eher illegal. Bist du dann auf dem neuen Feld angekommen, musst
            du die Aufgabe erfüllen. Mein Tipp, links unten lässt es sich deutlich besser lesen als auf dem Spielbrett.
            Hast du die Aufgabe erfüllt, musst du oben auf Zug beenden klicken. Dann ist der/die nächste an der Reihe.
        </p>
        <p>
            Vergesst nicht euch von den anderen abzuheben. Im rechten Seitenmenü kannst du die Textur deines Kronkorken einstellen.
            Falls du dir nicht sicher bist, wer wer ist, kannst du auch einfach Tab gedrückt halten um Spielernamen anzuzeigen.
        </p>
        <p>
            Alles nicht so komplex und ihr seid herzlich dazu eingeladen das Spiel auch etwas mit eigenen Regeln an eure
            Vorstellungen anzupassen.
        </p>

        <h2>Was ist das da rechts?</h2>
        <p>
            An der rechten Seite findest du das Menü. Bei dem Haus findest du dein Kurzprofil. Dort kannst du auch mit den Pfeilen
            eine andere Kronkorkentextur einstellen.
        </p>
        <p>
            Darunter findet ihr das aktuelle Trinkbuddy-Netz. Trinkbuddys bedeutet, dass ihr so gute Freunde seid,
            sodass du sogar mit deinem Freund mittrinkst, wenn dieser trinken muss. Das ganze funktioniert natürlich auch
            als Kette. Aber ganze Freundschaftskreise zwingen nicht zum übermäßigen Freundschaftsdienst.
        </p>
        <p>
            Unten ist dann der Chat zu finden. Dort könnt ihr euch mit Text verständigen und einige Infos, welche (noch) nicht
            animiert sind findet ihr auch dort.
        </p>
        <p>
            Im zweiten Tab gibt es eine Regelliste. Dort sind die Standardregeln definiert. Aber es gehört ja quasi mit dazu,
            auch eigene Regeln mit hinzuzufügen. Entweder durch die Aufforderung vom Spiel oder auch wenn ihr euch vor dem Spiel
            einigt.
        </p>
        <p>
            Im dritten Tab findet ihr ein eingebautes Abstimmungstool. Die Bedienung ist hoffentlich selbsterklärend.
            Du musst nur angeben, wer und über was abgestimmt wird. Aber, es darf immer nur einer gleichzeitig eine Abstimmung
            erstellen.
        </p>

        <h2>Was sind Items?</h2>
        <p>
            Kennst du Mario Kart? Genau das. Items werden zufällig verteilt. Wenn du darauf hoverst, kannst du die Beschreibung
            lesen. Mit dem klicken benutzt du dieses. Manche Items benötigen ein Ziel. Dann taucht ein Fadenkreuz auf und du
            musst auf einen Kronkorken klicken um diesen als Ziel zu wählen. Im Moment taucht das einsetzen eines Items nur im
            Chat auf, also weise deine Freunde vielleicht darauf hin, wenn du ein Item einsetzt.
        </p>

        <h2>Ich habe aber keine Webcam!</h2>
        <p>
            Aber du hast doch ein Smartphone oder? Mein Tipp:
            Schaue dir Droidcam(<a href="https://www.dev47apps.com">www.dev47apps.com</a>) an!
            Einfach mit Android oder iOS und Windows oder Linux kompatibel.
            Und kostenlos.
            Es gibt also keine Ausrede!
        </p>
    </div>
</div>
