.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80%;
}

.progressBarContainer {
  border-radius: 2px;
  color: #000000;
  background-color: #f1f1f1;
  box-sizing: border-box;
  display: block;
  width: 50%;
  height: 0.5rem;
}

.progressBar {
  border-radius: 2px;
  color: #ffffff;
  background-color: #7399ff;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  margin-top: auto;
  margin-bottom: auto;
}

.center > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo {
  display: block;
}

.centerText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xxx-large;
  font-weight: bold;
  font-family: Isocteur;
}

.tips {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  font-family: Isocteur;
  font-size: 4vw;
  letter-spacing: -0.8vw;
  word-spacing: -0.7vw;
  text-align: center;
}

@font-face {
  font-family: 'Isocteur';
  src: url('/assets/ISOCTEUR.ttf') format('truetype'); /* Safari, Android, iOS. Path isnt recognised, because it isnt relative to this file but rather the compiled css */
  font-weight: bold;
}
