<section class="voteCreationContainer">
  <ng-container class="stepContainer" *ngFor="let step of steps; let i = index">
    <div class="headerContainer" [ngClass]="{ 'step-active': selectedIndex === i }" (click)="onClick(i)">
      <div class="stepNumber">{{i + 1}}</div>
      <div class="title">
        {{step.label}}
      </div>
    </div>
    <div *ngIf="selectedIndex === i" class="contentContainer" [style.display]="selected ? 'block' : 'none'">
      <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
    </div>
  </ng-container>
</section>
