.anchor {
  position: absolute;
  top: 0;
  left: 0;
  filter: drop-shadow(3px 3px 8px rgb(0, 0, 0));
}

.decor-box {
  display: flex;
}

.decor-notch > .rect {
  padding: 0.5rem;
  background: rgba(75, 75, 75, 0.8);
}

.decor-notch > .triangle {
  width: 100%;
  height: 2rem;
  background: rgba(75, 75, 75, 0.8);
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.box {
  cursor: default;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */

  display: grid;
  grid-template-areas:
    't l'
    'p d';
  grid-gap: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
  background: rgba(75, 75, 75, 0.8);
}

/* --== Leave Game Button ==-- */
.leave-game {
  pointer-events: visibleFill;
  grid-area: l;
  background: linear-gradient(to bottom right, #913b3d, rgb(95, 19, 41));
}

.leave-game:hover {
  background: linear-gradient(to bottom right, #be4a4c, rgb(132, 27, 57));
}

/* --== Title ==-- */
.title {
  grid-area: t;
  font-size: large;
  margin-left: 1rem;
  color: #c5c5c5;
}

/* --== Player List ==-- */
.player-list {
  grid-area: p;
}

.player-box {
  padding-left: 1rem;
  position: relative;
  background-image: linear-gradient(to bottom right, #626161, rgb(73, 73, 73));
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.player-box-custom-border {
  padding: 1px 1px 1px 0;
  margin-top: 0.5rem;
}

.player-box-custom-border:first-child {
  margin-top: 0;
}

.active {
  background: var(--golden-radial-bg);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.active > .player-box {
  box-shadow: unset;
}

/* -- Background -- */
.background-layer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.background-layer .index {
  font-size: xxx-large;
  margin-right: 0.25rem;
  color: rgba(255, 255, 255, 0.1);
}

/* -- Foreground -- */
.content-layer {
  display: flex;
  gap: 0.75rem;
  padding: 0.25rem;
}

.player-icon {
  pointer-events: visibleFill;
  margin-left: 0.25rem;
  position: relative;
}

.player-text {
  display: flex;
  flex-direction: column;
  min-width: 6rem;
  margin-right: 2rem;
}

.player-text .pre-script {
  font-size: x-small;
  color: rgba(255, 255, 255, 0.4);
}

/* -- Badges -- */
.player-icon .disconnect-badge {
  position: absolute;
  filter: drop-shadow(0 0 2px black);
  bottom: 0;
  left: 0;
  transform: translate(-25%, 10%);
  font-size: large;
  color: #ff3636;
}

.player-icon .dev-badge {
  position: absolute;
  filter: drop-shadow(0 0 2px black);
  bottom: 0;
  right: 0;
  transform: translate(25%, 10%);
  font-size: medium;
  color: goldenrod;
}

.player-icon .host-badge {
  position: absolute;
  filter: drop-shadow(0 0 2px black);
  top: 0;
  right: 0;
  transform: translate(25%, -10%);
  font-size: small;
  color: goldenrod;
}

/* --== Turn direction ==-- */
.turn-direction {
  pointer-events: visibleFill;
  grid-area: d;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;

  filter: drop-shadow(0 0 1px black);
}

.arrows {
  display: flex;
  flex-direction: column;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.clip-arrow {
  background-image: linear-gradient(to bottom right, #ffe5ab, rgb(185, 134, 2));
  width: 0.5rem;
  height: 0.5rem;
}

.clip-arrow.up {
  clip-path: polygon(0% 100%, 0% 50%, 50% 0%, 100% 50%, 100% 100%, 50% 65%);
}

.clip-arrow.down {
  clip-path: polygon(0% 0%, 0% 50%, 50% 100%, 100% 50%, 100% 0%, 50% 35%);
}

.spacer {
  flex-grow: 1;
  width: 1px;
  background-image: linear-gradient(to bottom right, #ffe5ab, rgb(185, 134, 2));
}
