<div class="state-area">
  <div class="state-window">

    <div class="state-element">
      <div class="state-description">
        <i class="fas fa-flag-checkered"></i>
        <span>Round</span>
      </div>
      <div class="state-value">{{round}}</div>
    </div>

    <div class="seperator"></div>

    <div class="state-element">
      <div class="state-description">
        <i class="far fa-address-card"></i>
        <span>Turn</span>
      </div>
      <div class="state-value">{{turn}}</div>
    </div>

    <div class="seperator"></div>

    <div class="state-element">
      <div class="state-description no-icon">
        <span>Action</span>
      </div>
      <div class="state-value">
        <i [ngClass]="knownActions[action] || 'fas fa-angry'"></i>
      </div>
    </div>

  </div>
</div>
