<div class="container-fluid my-5">
  <div class="main-body">
    <div *ngIf="currentUser !== undefined" class="">
      <div class="row gutters-sm">

        <div class="col-md-3 mb-3">
          <div class="card transparent">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <h4 class="mb-3">Wo möchtest du trinken?</h4>
                <div class="card-body">
                  <div class="switch-arrow previous" (click)="nextEnvironment('left')">
                    <i *ngIf="!(currentEnvironmentIdx <= 0)" class="fas fa-chevron-left"></i>
                    <i *ngIf="currentEnvironmentIdx <= 0" class="fas fa-grip-lines-vertical non-interactive"></i>
                  </div>
                  <img src="assets{{environments[currentEnvironmentIdx].thumb}}" width="250" height="250"
                    class="img-thumbnail border-dark">
                  <div class="switch-arrow next" (click)="nextEnvironment('right')">
                    <i *ngIf="!(currentEnvironmentIdx >= environments.length - 1)" class="fas fa-chevron-right"></i>
                    <i *ngIf="currentEnvironmentIdx >= environments.length - 1"
                      class="fas fa-grip-lines-vertical  non-interactive"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-9">
          <div class="row">

            <div class="col-md-12 mb-3">
              <div class="card transparent">
                <div class="card-body">
                  <h4><i class="fas fa-info-circle"></i> Disclaimer:</h4>
                  <p class="text-justify">
                    Das Spiel enthält unter anderem taktlose Witze und schwarzen Humor. Diese(r) sollte nicht zu ernst
                    genommen werden und ist nicht gedacht, um einzelne Personen oder Personen-Gruppen zu beleidigen. Sollten dir
                    dennoch Inhalte extrem negativ auffallen, <a href="/contact">melde dich bei uns</a> und wir schauen
                    uns dein Problem gerne an.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-12 mb-3">
              <div class="card transparent">
                <div class="card-body">
                  <div class="mb-3">
                    <button class="btn lobby-btn mr-3" id="" (click)="createGame()"
                            [disabled]="activeLobby !== undefined">{{translation.text.gamesListCreate}}</button>
                    <span *ngIf="activeLobby !== undefined" class="blue-text">
                      <i class="fas fa-exclamation-triangle"></i>
                      <span>Du bist in einem Spiel und kannst deshalb kein neues erstellen.</span>
                    </span>
                    <button class="btn lobby-btn mr-3" (click)="refetchGameRooms()"><i class="fas fa-redo"></i></button>
                  </div>
                  <div>
                    <!-- <div *ngIf="availableRooms.length > 0"> -->
                    <app-game-display *ngFor="let game of availableRooms" (enter)="onEnterGame()"
                                      (join)="onJoinGame($event)" (leave)="onLeaveGame()" [game]="game" [isActive]="isActive(game)"
                                      [languageObjects]="translation.text">
                    </app-game-display>

                    <app-game-display *ngIf="availableRooms.length <= 0" [isDummy]="true"
                                      [languageObjects]="translation.text">
                    </app-game-display>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>


      </div>

    </div>
  </div>
  <div *ngIf="currentUser === undefined">You shouldnt be here =(</div>
</div>
