<div class="tray">
  <div class="gold-border">
    <div class="paper-body">
      <img mat-list-icon src="http://localhost:2567/api/profilePic?login_name=x" />
      <mat-icon mat-list-icon>edit</mat-icon>
    </div>
  </div>
</div>

<div class="debug-buttons">
  <button (click)="setName( 'Petter' )"> Petter </button>
  <button (click)="setName( 'KackWilli' )"> KackWilli </button>
  <button (click)="setName( 'Lurch' )"> Lurch </button>
  <button (click)="turnOverlay.show()">show</button>
  <button>5</button>
  <button>6</button>
  <button (click)="ownTurn = !ownTurn">ownTurn: {{ownTurn}}</button>
</div>

