
.round-avatar {
  height: 150px;
  width: 150px;
  display:flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
}

.golden-border {
  border-radius: 50%;
  padding: 5px;
  background:
    radial-gradient(ellipse farthest-corner at left bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at right top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.outer-box {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outer-box .text {
  padding-top: 16px;
}

.user-name {
  color: grey;
  font-size: medium;
}

.round-avatar:hover {
  transition: all 0.2s ease-out;
  filter: drop-shadow(2px 5px 5px black);
  transform: scale(1.01);
}

.round-avatar:active {
  transition: all 0.2s ease-out;
  filter: drop-shadow(0px 0px 0px black);
  transform: scale(1.0);
}

.round-avatar i {
  font-size: 50px;
  padding-top: 25px;
}

.round-avatar img {
  border: #4b4b4b solid 1px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.selectionDiv {
  border-radius: 15px;
  padding: 5px 25px;
  margin-top: 15px;
  width: 20vw;
  background: white;
  display: flex;
  flex-direction: column;
}
.envListEntry {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 48px;
}
.envListEntry img {
  margin-right: 10px;
  margin-left: 5px;
}

