
.state-area-copy {
  pointer-events: none;
  width: 100%;
  margin-top: 8px;
  position: absolute;
  background-color: transparent;
  display: flex;
  justify-content: center;
  z-index: 20;
}
.state-area {
  pointer-events: none;
  width: 100%;
  margin-top: 8px;
  position: absolute;
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-areas: "leftBox centerBox rightBox";
  column-gap: 12px;
  justify-items: center;
  z-index: 20;
}
.leftBoxItem {
  grid-area: leftBox;
  justify-self: end;
  align-self: center;
}
.rightBoxItem {
  grid-area: rightBox;
  justify-self: start;
  align-self: center;
}

.state-window {
  pointer-events: visibleFill;
  padding: 4px 16px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #3d3d3d;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.7));
  grid-area: centerBox;
}

.rules {
  margin-left: 16px;
}


.state-element {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.state-description {
  display: flex;
  color: grey;
}

.state-element span {
  font-size: medium;
  padding-left: 8px;
}

.no-icon span{
  padding-left: 0;
}

.state-value {
  padding-top: 8px;
  font-size: x-large;
  align-self: center;
  white-space: nowrap;
}

.seperator {
  height: 48px;
  margin-left: 16px;
  margin-right: 16px;
  border: solid 1px black;
}
