<div class="base">
  <div class="creation-head">
    <div class="head-text">Configure your vote:</div>
    <button (click)="cancelVoteCreation()" class="abort-button">Cancel</button>
  </div>

  <!-- Name of Voting -->
  <div class="title-input-container">
    <div class="vote-name-head">1. What is the vote about ?</div>
    <div class="text-input-container">
      <input #titleInput placeholder="Enter title here ..." type="text">
    </div>
  </div>

  <!-- Who is eligible -->
  <div class="eligibles-container">
    <div class="eligibility-head">2. Who is allowed to vote ?</div>
    <div *ngIf="playerList.length === 0">
      empty
    </div>
    <div *ngIf="playerList.length > 0" class="wrapping-player-container">
      <div (click)="toggleEligibility(p)" *ngFor="let p of playerList" class="eligibility-selector">
        <app-player-icon [borderThickness]="'3px'" [enableUpload]="false" [loginName]="p.loginName" [size]="'30px'">
        </app-player-icon>
        <div class="{{isEligible(p) ? 'info-container eligible' : 'info-container ineligible'}}">
          <i *ngIf="isEligible(p)" class="fas fa-check"></i>
          <i *ngIf="!isEligible(p)" class="fas fa-times"></i>
          <div class="name">{{p.displayName}}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Vote options -->
  <div class="vote-option-container">

    <div class="vote-option-head">
      <div>3. What to vote on ?</div>
      <span (click)="addAllPlayers()" class="first-tool-button"><i class="fas fa-user-plus"></i>All</span>
      <span (click)="clearAllEntries()" class="last-tool-button"><i class="fas fa-trash"></i>Clear</span>
    </div>


    <div class="current-options-container">
      <div *ngIf="votingOptions.length === 0" class="vote-option emptiness-indicator">
        <div class="emptiness-text">- No voting options yet -</div>
      </div>
      <div (click)="removeEntry(i)" *ngFor="let o of votingOptions; let i = index" class="vote-option">
        <i *ngIf="!o.isPlayerEntry" class="fas fa-beer"></i>
        <i *ngIf="o.isPlayerEntry" class="fas fa-user"></i>
        <div>{{o.text}}</div>
        <span class="remove-indicator"><i class="fas fa-minus"></i></span>
      </div>
    </div>

    <div (keyup)="addVoteEntryByKey(optionInput, $event)" class="add-option-container">
      <div class="text-input-container">
        <input #optionInput placeholder="Add new option ..." type="text">
      </div>
      <div (click)="addVoteEntry(optionInput)" class="modify-button"><i class="fas fa-plus"></i></div>
    </div>
  </div>

  <!-- Buttons -->
  <div class="button-container">
    <button (click)="emitVoting(titleInput)" class="submit">Start Voting !</button>
  </div>

</div>