<div class="register-card-base">

  <div class="vote-head">
    <div class="head-text">
      <div>Voting System</div>
    </div>
    <div *ngIf="gameState.isRoomDataAvailable$ | async" class="head-progress">
      <!-- VoteStage 2 should be creation -->
      <i
        [ngClass]="(gameState.observableState.voteState.voteStage$ |async) === 2 ? 'fas fa-circle-notch fa-spin highlight' : 'far fa-circle'"></i>
    </div>
    <div *ngIf="!(gameState.isRoomDataAvailable$ | async)" class="head-progress">
      <i class="far fa-circle"></i>
    </div>
  </div>

  <div class="seperator"></div>

  <!-- Default page -->
  <div *ngIf="voteSystemState === stateEnum.default" class="base-container default-bg">
    <div class="motivational-text">
      <div>Nobody is currently creating a voting. Make your own!</div>
      <div class="middle-caret"><i class="fas fa-sort-down"></i></div>
    </div>
    <div class="default-button-container">
      <button (click)="triggerVoteCreation()">Create new Voting</button>
      <button (click)="voteSystemState = stateEnum.results" *ngIf="hasConcluded">Last Results<i
          class="fas fa-angle-double-right"></i></button>
    </div>
  </div>


  <!-- Wait page -->
  <div *ngIf="voteSystemState === stateEnum.waiting" class="base-container waiting-bg">
    <div class="stall-text">
      <div>{{voteHost || 'undefined'}} is creating a vote. Wait for him to finish.</div>
      <mat-progress-spinner [diameter]="15" class="progress-spinner" mode="indeterminate"></mat-progress-spinner>
    </div>
    <div class="wait-button-container">
      <button disabled>Create new Voting</button>
    </div>
  </div>


  <!-- Ineligible page -->
  <div *ngIf="voteSystemState === stateEnum.notEligible" class="base-container denial-bg">
    <div class="denial-text">
      <div>There is a vote going on but you are not allowed to participate.</div>
      <div class="frowny-face"><i class="fas fa-frown"></i></div>
    </div>
    <div class="Ineligible-button-container">
      <button disabled>{{activeVotesCast}} / 10 Voted</button>
    </div>
  </div>


  <!-- Create page -->
  <app-vote-creator (voteConfiguration)="triggerVoteBegin($event)" *ngIf="voteSystemState === stateEnum.creating"
    class="base-container"></app-vote-creator>

  <!-- Vote page -->
  <div *ngIf="voteSystemState === stateEnum.voting" class="base-container">

    <div class="voting-head-container">
      <div *ngIf="gameState.isRoomDataAvailable$ | async" class="voting-head">
        <div class="pre-subscript">Select your option:</div>
        {{(gameState.observableState.voteState.voteConfiguration.title$ | async)}}
      </div>
      <button *ngIf="gameState.getMe().displayName === voteHost" class="abort-button">Cancel</button>
    </div>


    <div *ngIf="gameState.isRoomDataAvailable$ | async">
      <div
        *ngFor="let ve of (gameState.observableState.voteState.voteConfiguration.votingOptions$ | async) let i = index"
        class="entry-container disable-user-select">
        <div (click)="castVote(i)" class="vote-entry">
          <div class="info-box">
            <div class="info-text">
              <app-player-icon *ngIf="ve.isPlayerEntry" [borderThickness]="'2px'" [loginName]="ve.playerHandle"
                [size]="'20px'"></app-player-icon>
              <div class="entry-text">
                <span class="text">{{ve.text}}</span>
              </div>
              <span class="percentile">{{voteEntryPercentileDisplay[i]}}%</span>
            </div>
            <div class="display-bar-bg">
              <div [ngStyle]="{'width': voteEntryPercentileDisplay[i] + '%'}" class="display-bar"></div>
            </div>
          </div>
          <div class="vertical-separator"></div>
          <div class="vote-counter">{{ve.castVotes.length || 0}}</div>
        </div>
        <div class="participants-container">
          <div *ngFor="let playerHandle of ve.castVotes" class="participants">
            <app-player-icon [borderThickness]="'0px'" [loginName$]="gameState.getLoginName$(playerHandle)"
              [size]="'15px'"></app-player-icon>
          </div>
        </div>
      </div>
    </div>


    <div *ngIf="(gameState.observableState.voteState.closingIn$ | async) >= 0" class="closure-alert">
      <div class="static">The vote is being closed in:</div>
      <div class="count-down">{{timerDisplay}}</div>
    </div>

    <div class="host-closure-button">
      <button (click)="triggerCloseVotingSession()" *ngIf="this.gameState.getMe().displayName === voteHost"
        class="close-vote-button">Close voting session
      </button>
      <button *ngIf="!(this.gameState.getMe().displayName === voteHost)" disabled>Only {{voteHost}} can close the
        voting.
      </button>
    </div>
  </div>

  <!-- results -->
  <div *ngIf="voteSystemState === stateEnum.results" class="base-container">

    <div class="voting-head-container">
      <div *ngIf="gameState.isRoomDataAvailable$ | async" class="voting-head">
        <div class="pre-subscript">Results:</div>
        {{(gameState.observableState.voteState.voteConfiguration.title$ | async)}}
      </div>
    </div>

    <div *ngIf="gameState.isRoomDataAvailable$ | async">
      <div
        *ngFor="let ve of (gameState.observableState.voteState.voteConfiguration.votingOptions$ | async); let i = index"
        [ngClass]="{'entry-container disable-user-select result': true, 'no1': i === 0, 'no2': i === 1, 'no3': i === 2, 'noN': i > 2}">

        <div class="metal-border">
          <div class="vote-entry">
            <div class="info-box">
              <div class="info-text">
                <app-player-icon *ngIf="ve.isPlayerEntry" [borderThickness]="'2px'" [loginName]="ve.playerHandle"
                  [size]="'20px'"></app-player-icon>
                <div class="entry-text">
                  <span class="text">{{ve.text}}</span>
                </div>
                <span class="percentile">{{voteEntryPercentileDisplay[i]}}%</span>
              </div>
              <div class="display-bar-bg">
                <div [ngStyle]="{'width': voteEntryPercentileDisplay[i] + '%'}" class="display-bar"></div>
              </div>
            </div>
            <div class="vertical-separator"></div>
            <div class="vote-counter">
              <div class="gold-laurel"></div>
              {{ve.castVotes.length || 0}}
            </div>
          </div>
        </div>


        <div class="participants-container">
          <div *ngFor="let playerHandle of ve.castVotes" class="participants">
            <app-player-icon [borderThickness]="'0px'" [loginName$]="gameState.getLoginName$(playerHandle)"
              [size]="'15px'"></app-player-icon>
          </div>
        </div>


      </div>
    </div>

    <div class="back-button">
      <button (click)="voteSystemState = stateEnum.default"><i class="fas fa-angle-double-left"></i>Back</button>
    </div>
  </div>

  <div class="seperator"></div>

  <div class="hints">
    <div class="head">Hints:</div>
    <div>- Only one vote can be created at a time.</div>
    <div>- Creating a vote will notify all other players.</div>
  </div>

</div>