<div class="register-card-base">

  <div class="user-info-box">

    <div class="avatar-section">
      <div class="round-avatar golden-border">
        <img [src]="profileSource" alt="'Profile'">
      </div>
      <div class="upload-icon" (click)="fileInput.click()"><i class="fas fa-file-upload"></i></div>
    </div>

    <div class="info-section">
      <div>
        <div class="user-name">{{user === undefined ? 'Not connected' : user.display_name}}</div>
        <div class="sub-script">Role: {{getRole()}}</div>
        <div class="sub-script">Time played: {{getTimePlayed()}}</div>
      </div>
    </div>

    <div class="bottle-cap-section">
      <div (click)="prevBCap($event)"><i class="fas fa-chevron-left"></i></div>
      <div class="round-avatar golden-border bottle-cap">
        <div class="bottle-cap-cover">
          <img [src]="bottleCapSource" alt="'Profile'">
        </div>
      </div>
      <div (click)="nextBCap($event)"><i class="fas fa-chevron-right"></i></div>
    </div>

  </div>

  <div class="seperator"></div>

  <app-trink-buddy-display></app-trink-buddy-display>

  <div class="seperator"></div>

  <div class="chat-box">

    <div class="text-section" #textSection>
      <div *ngFor="let msg of chatMessages" [ngClass]="{'move-right': msg.sender === user.display_name}">
        <div class="chat-message">
          <div class="head-row">
            <div class="sender"><i class="fas fa-user"></i>{{msg.sender}}</div>
            <div class="time">{{msg.timestamp | date: 'shortTime'}}</div>
          </div>
          <div class="body chat-message-text">{{msg.text}}</div>
        </div>
      </div>
    </div>


    <div class="seperator"></div>

    <div class="input-section">
      <div class="command-hint"><i class="fas fa-terminal"></i></div>
      <div class="text-input-container" (keyup)="sendChatMessageByKey($event, chatInput)">
        <input type="text" placeholder="Type here ..." #chatInput>
      </div>
      <div class="post-button" (click)="sendChatMessage(chatInput)"><i class="fas fa-share"></i></div>
    </div>

  </div>
  <input
    style="display: none"
    type="file" (change)="newProfilePic($event)"
    #fileInput>
</div>
