
.register-card-base {

  --base-padding: 0.5rem;
  --seperator-padding: 0.25rem;
  --text-color: whitesmoke;
  --dim-text-color: grey;
  --accent-color: #4b4b4b;

  min-width: 16rem;
  width: 50vw;
  max-width: 24rem;

  display: flex;
  flex-flow: column;

  height: 100%;
  max-height: 100%;
  min-height: 0;

}

/*=====================USER_INFO======================*/

.user-info-box {
  display: flex;
  justify-content: space-between;
  padding: var(--base-padding);
}

.avatar-section {
  display: flex;
  flex-direction: row;
  color: var(--dim-text-color);
}

.avatar-section .upload-icon{
  display: grid;
  align-content: end;
}

.upload-icon {
  margin-left: -1rem;
}

.bottle-cap-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: var(--dim-text-color);
  pointer-events: all;
}

.info-section {
  display: flex;
  flex-direction: row;
}

.round-avatar {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.round-avatar img {
  border: var(--accent-color) solid 1px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: contain;
}

.bottle-cap-cover {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.bottle-cap-cover img {
  height: 149%;
  width: 149%;
  border-radius: 0%;
  border: 0px;
  object-fit: cover;
  object-position: -12px -12px;
}

.golden-border {
  border-radius: 50%;
  padding: 5px;
  background:
    radial-gradient(ellipse farthest-corner at left bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at right top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.user-name {
  font-size: large;
}

.sub-script {
  font-size: small;
  color: grey;
}

/* ============================CHAT===========================================*/

.chat-box {
  padding: var(--base-padding);
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  margin-bottom: 0;
  min-height: 0;
}

.text-section {
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  align-items: flex-start;
  min-height: 0;
  overflow-y: auto;
}

.text-section > div {
  max-width: 90%;
}

.move-right{
  align-self: flex-end;
}

.chat-message {
  margin-bottom: 4px;
  padding: 0.3rem;
  font-size: small;
  background-color: var(--accent-color);
  border-radius: 5px;
}

.chat-message .head-row {
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 0.3rem;
  display: flex;
  flex-flow: row;
  font-size: small;
  color: var(--dim-text-color);
  text-align: center;
}

.chat-message .head-row div i {
  font-size: x-small;
  margin-right: 0.3rem;
}

.chat-message .head-row .sender {
  margin-right: 0.5rem;
}

.chat-message .head-row .time {
  margin-left: auto;
}

.input-section {
  margin-top: 0.5rem;
  margin-bottom: 0.4rem;
  color: var(--dim-text-color);
  display: flex;
  flex-flow: row;
  background-color: transparent;
}

.post-button {
  background-color: var(--accent-color);
  padding: 0.35rem;
  margin-right: 0.5rem;
  border: var(--accent-color) 1px solid;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  font-size: small;
}

.post-button:hover {
  background-color: var(--register-hover-background);
}

.command-hint {
  background-color: var(--accent-color);
  padding: 0.35rem;
  margin-left: 0.5rem;
  border: var(--accent-color) 1px solid;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  font-size: small;
}

.command-hint:hover {
  background-color: var(--register-hover-background);
}

.input-section input{
  flex: 1;
  margin: 0.2rem 0.8rem;
  color: var(--text-color);
  border-bottom: var(--dim-text-color);
}

.input-section input::placeholder {
  color: var(--dim-text-color);
}

.text-input-container {
  background-color: var(--accent-color);
  display: flex;
  border: var(--accent-color) 1px solid;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  flex: 1;
}

.text-input-container:focus-within {
  border: var(--dim-text-color) 1px solid;
}

/*===========================MISC======================*/

.seperator {
  margin: var(--seperator-padding);
  border: #4b4b4b solid 1px;
  height: 0;
}

.another {
  padding: var(--base-padding);
  display: flex;
}
