
nav {
  pointer-events: visibleFill;
  display: inline-block;
  background-color: #cfc09f;
}

.BOX {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
