<!--The content below is only a placeholder and can be replaced.-->

<div>
  <div class="headline">Current Games:</div>
  <div class="top-level-box">
    <app-game-display *ngIf="activeGames.length <= 0" [dummy]="true"></app-game-display>
    <div *ngIf="activeGames.length > 0"><app-game-display *ngFor="let game of activeGames" [game]="game" (delete)="onDelete($event)" ></app-game-display></div>
    <div class="top-level-footer"><button (click)="create()">Create</button></div>
  </div>

  <div class="top-level-box split-box">
    <app-login></app-login>
    <div class="top-level-splitter"></div>
    <app-player-list></app-player-list>
  </div>

  <div class="top-level-box">
    <app-rules [testText]="translation.text"></app-rules>
  </div>

</div>

