
<div class="anchor">
  <div class="transparent-banner">

    <div class="banner-box" [@readyNotReadyBorder]="amIReady ? 'ready' : 'notReady'">
      <div class="banner-headline-box">
        <div class="headline-text">Warte auf Spieler</div>
        <div class="ready-count">
            <div [ngClass]="{'slight-green': amIReady, 'slight-red': !amIReady}" >
              {{countReadyPlayers()}}/{{players.length}}
            </div>
        </div>
        <div class="ready-icon">
            <i *ngIf="amIReady" class="fas fa-check green-icon"></i>
            <i *ngIf="!amIReady" class="fas fa-times red-icon"></i>
        </div>
        <div class="ready-button">
            <button (click)="readyEvent()" [ngClass]="{'button-red': !amIReady}">
              {{amIReady ? 'Not yet!' : 'Bereit?'}}
            </button>
        </div>
      </div>

      <div class="player-box-wrapper">
        <div @joinLeave *ngFor="let p of players; let i = index" [ngClass]="{'player-box': true, 'player-box-first': i === 0}">
          <app-player-icon [borderThickness]="'3px'" [enableUpload]="false" [loginName]="p.loginName" [size]="'30px'"></app-player-icon>
          <div class="name">{{p.displayName}}</div>
          <div *ngIf="p.isReady" class="symbol"><i class="fas fa-check green-icon"></i></div>
          <div *ngIf="!p.isReady" class="symbol"><i class="fas fa-times red-icon"></i></div>
        </div>
      </div>
    </div>

  </div>
</div>

