.anchor {
  position: fixed;
  top: 15%;
  width: 100%;
}

.transparent-banner {
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  background-color: rgba(61, 61, 61, 0.49);
  z-index: 30;
}

/* =============================== Main Box =============================== */
.banner-box {
  background-image: linear-gradient(to bottom right, #4b4b4b, rgb(55, 55, 55));
}

.banner-headline-box {
  pointer-events: visibleFill;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-areas:
    'h h h h h'
    '. c i b .';
  grid-row-gap: 0.5rem;
  grid-template-columns: 0.5rem 35% auto 35% 0.5rem;
  justify-items: center;
  align-items: center;
}

.headline-text {
  grid-area: h;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-size: x-large;
  border-bottom: solid 1px rgb(55, 55, 55);
}

.ready-count {
  grid-area: c;
  font-size: x-large;
  transition: 0.25s;
}

.ready-icon {
  grid-area: i;
  font-size: x-large;
}

.ready-button {
  grid-area: b;
}

.button-red {
  background: linear-gradient(to bottom right, #913b3d, rgb(95, 19, 41));
}

.button-red:hover {
  background: linear-gradient(to bottom right, #be4a4c, rgb(132, 27, 57));
}

.green-icon {
  color: #60e36b;
}

.red-icon {
  color: #d53344;
}

.slight-green {
  color: #cdeec8ff;
}

.slight-red {
  color: #f3ccc9;
}

/* =============================== Player Boxes =============================== */

.player-box-wrapper {
  padding: 0.5rem;
}

.player-box-first {
  border-top: solid 1px rgb(55, 55, 55);
}

.player-box {
  padding: 0.25rem;
  border-left: solid 1px rgb(55, 55, 55);
  border-right: solid 1px rgb(55, 55, 55);
  border-bottom: solid 1px rgb(55, 55, 55);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-image: linear-gradient(to bottom right, #626161, rgb(73, 73, 73));
}

.name {
  margin-left: 0.5rem;
  color: #8a8a8a;
}

.symbol {
  margin-left: auto;
  margin-right: 0.25rem;
}
