nav a {
  font-size: small;
  color: #8fff00;
}

nav a:visited {
  color: #5aa300;
}

.basic-window {
  pointer-events: visibleFill;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.76);
}

.window-handle {
  background-color: rgba(0, 0, 0, 0.51);
  color: darkgrey;
  font-size: small;
  padding: 2px;
}

.chat-window {
  background-color: transparent;
  border: 0;
  color: darkgrey;
}

.window-content {
  padding: 8px;
}

.interface-bounds {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.attribution {
  pointer-events: visibleFill;
  position: absolute;
  left: 3px;
  bottom: 0px;
  color: whitesmoke !important;
}

.attribution a {
  color: whitesmoke !important;
}
