
<div class="interface-bounds">
  <app-state-display
    [round]="gameState.getRound()"
    [currentPlayerDisplayName]="gameState.getCurrentPlayerDisplayName()"
    [action]="gameState.getAction()">
  </app-state-display>
  <app-pregame-banner *ngIf="!gameState.hasStarted()"
                      [players]="gameState.getPlayerArray()">
  </app-pregame-banner>
  <app-connected-players
    [players]="gameState.getPlayerArray()"
    [currentPlayerDisplayName]="gameState.getCurrentPlayerDisplayName()"
    #connectedPlayers>
  </app-connected-players>
  <app-menu-bar
    [playerList]="gameState.getPlayerArray()"
    [ruleList]="gameState.getRules()"
    (executeNewChatCommand)="executeChatCommand($event)">
  </app-menu-bar>
  <app-next-turn-button [disabled]="!gameState.hasStarted"
                        [action]="gameState.getAction()"
                        #nextTurn>
  </app-next-turn-button>
  <app-turn-overlay [ownTurn]="this.gameState.isMyTurn()"
                    [currentPlayerName]="gameState.getCurrentPlayerDisplayName()" #turnOverlay>
  </app-turn-overlay>
  <app-tile-overlay (printer)="print($event, 'Tiles')"
                    [playerName]="gameState.getCurrentPlayerDisplayName()"
                    #tileOverlay>
  </app-tile-overlay>
</div>
