.transparent {
  background-color: rgba(48, 48, 48, 0.58);
  box-shadow: 3px 3px 11px 0px rgb(0, 0, 0);
  -webkit-box-shadow: 3px 3px 11px 0px rgb(0, 0, 0);
  -moz-box-shadow: 3px 3px 11px 0px rgb(0, 0, 0);
}
