<div class="container-fluid">
  <div class="card my-5 transparent">
    <div class="card-body">
      <div class="h3">Impressum</div><br>
      <p>Anbieter:<br />Tizian Rettig<br />Goethestraße 58<br />64354 Reinheim</p>
      <p>Kontakt:<br />Telefon: +49176 63671741<br />E-Mail: <a
          href="mailto:tispyl@uber.space, &subject=Tischspiel&body=Über das Impressum gesendet\n">tispyl@uber.space</a><br />
      <p> </p>
      <p>Bei redaktionellen Inhalten:</p>
      <p>Verantwortlich nach § 55 Abs.2 RStV<br />Tizian Rettig<br />Goethestraße 58<br />64354 Reinheim</p>
    </div>
  </div>
</div>