<span class="languageContainer">
  <!--
  <button class="languageSelector" type="button" (click)="toggleDropdown()">{{languageList[0].desc}}</button>
  <div [ngClass]="menuShown" class="languageSelectorMenu">
    <a *ngFor="let lang of languageList" class="langMenuItem" type="button" (click)="selectLang(lang.id)" data-lang="{{lang.id}}">{{lang.desc}}</a>
  </div>
  -->
  <mat-form-field>
    <mat-label>Language</mat-label>
    <mat-select>
      <mat-option *ngFor="let lang of languageList" [value]="lang.id" (click)="selectLang()">
        {{lang.desc}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</span>
