<div class="register-card-base">
  <app-trink-buddy-display></app-trink-buddy-display>

  <div class="seperator"></div>

  <div class="chat-box">
    <div #textSection class="text-section">
      <div *ngFor="let msg of chatMessages" [ngClass]="{ 'move-right': msg.sender === myPlayer?.displayName }">
        <div class="chat-message">
          <div class="head-row">
            <div class="sender"><i class="fas fa-user"></i>{{ msg.sender }}</div>
            <div class="time">{{ msg.timestamp | date: 'shortTime' }}</div>
          </div>
          <div class="body chat-message-text">{{ msg.text }}</div>
        </div>
      </div>
    </div>

    <div class="seperator"></div>

    <div class="input-section">
      <div class="command-hint" (click)="showChatCmdDropdown = !showChatCmdDropdown">
        <i class="fas fa-terminal"></i>
        <app-chat-command-list
          *ngIf="showChatCmdDropdown"
          (selectCmdEmitter)="selectCmd($event)"
        ></app-chat-command-list>
      </div>
      <div (keyup)="sendChatMessageByKey($event, chatInput)" class="text-input-container">
        <input #chatInput placeholder="Type here ..." type="text" spellcheck="false" />
      </div>
      <div (click)="sendChatMessage(chatInput)" class="post-button"><i class="fas fa-share"></i></div>
    </div>
  </div>
  <input #fileInput (change)="newProfilePic($event)" style="display: none" type="file" />
</div>
