<div class="container-fluid my-5">
  <div class="main-body">
    <div *ngIf="currentUser !== undefined" class="">
      <div class="row gutters-sm">
        <div class="col-md-3 mb-3">
          <div class="card transparent">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <h4 class="mb-3">Where do you want to drink ?</h4>
                <div class="card-body">
                  <div class="switch-arrow previous" (click)="nextEnvironment('left')">
                    <i *ngIf="!(currentEnvironmentIdx <= 0)" class="fas fa-chevron-left"></i>
                    <i *ngIf="currentEnvironmentIdx <= 0" class="fas fa-grip-lines-vertical non-interactive"></i>
                  </div>
                  <img src="assets{{environments[currentEnvironmentIdx].thumb}}" width="250" height="250"
                    class="img-thumbnail border-dark">
                  <div class="switch-arrow next" (click)="nextEnvironment('right')">
                    <i *ngIf="!(currentEnvironmentIdx >= environments.length - 1)" class="fas fa-chevron-right"></i>
                    <i *ngIf="currentEnvironmentIdx >= environments.length - 1"
                      class="fas fa-grip-lines-vertical  non-interactive"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-9 mb-3">
          <div class="card transparent">
            <div class="card-body">
              <div class="mb-3">
                <button class="btn lobby-btn mr-3" id="" (click)="createGame()"
                  [disabled]="activeLobby !== undefined">{{translation.text.gamesListCreate}}</button>
                <span *ngIf="activeLobby !== undefined" class="blue-text"><i
                    class="fas fa-exclamation-triangle"></i><span>You
                    are
                    in a lobby and won't be able to host a new game.</span></span>
                <button class="btn lobby-btn mr-3" (click)="refetchGameRooms()"><i class="fas fa-redo"></i></button>
              </div>
              <div>
                <!-- <div *ngIf="availableRooms.length > 0"> -->
                <app-game-display *ngFor="let game of availableRooms" (enter)="onEnterGame()"
                  (join)="onJoinGame($event)" (leave)="onLeaveGame()" [game]="game" [isActive]="isActive(game)"
                  [languageObjects]="translation.text">
                </app-game-display>

                <app-game-display *ngIf="availableRooms.length <= 0" [isDummy]="true"
                  [languageObjects]="translation.text">
                </app-game-display>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div *ngIf="currentUser === undefined">You shouldnt be here =(</div>
</div>
