
.nextTurn-Wrapper {
  position: fixed;
  display: inline-flex;
  margin: auto;
  width: 8em;
  height: 3em;
  top: 4em;
  left: 0%;
  right: 0%;
  pointer-events: visible;
  font-size: xx-large;

  transition-property: transform;
  transition-duration: .8s;
  transition-timing-function: cubic-bezier(.63, -0.34, .36, 1.22);
  z-index: 10;
}

.nextTurn-Button {
  width: 100%;
  height: 100%;
  font-size: inherit;
}

.hidden {
  transform: translateY(-10em);
}

.turnNotFinished {
  transform: translateY(-2.3em) scale(0.4, 0.4);
}
