
<div>
  <div *ngIf="!isDummy" class="component-box">
    <span class="ornamental-box"></span>
    <div class="bounding-box">
      <div class="naming">
        <div><span class="heading">{{game.name || "undefined"}}</span><span class="trailing">{{languageObjects.gamesListBy || "undefined"}} {{game.author || "undefined"}}</span></div>
        <div class="date">{{languageObjects.gamesListCreateAt || "undefined"}} {{(game.creationDate | date:' h:mm a' )|| "undefined"}}</div>
      </div>
      <div class="count">
        <i class="fas fa-users"></i>
        {{(game.players || []).length}}
      </div>
      <div class="delete-game">
        <button (click)="delete()"><i class="fas fa-times"></i></button>
      </div>
    </div>
  </div>

  <div *ngIf="isDummy" class="component-box">
    <span class="empty-ornamental-box"></span>
    <div class="empty-bounding-box"><span>{{languageObjects.gamesListNoGame}}</span></div>
  </div>
</div>

