.pass-col {
  display: grid;
  align-items: end;
  justify-items: start;
  align-content: stretch;
}

.tooltip-arrow {
  align-self: flex-end;
  width: 0;
  height: 0;
  float: right;
  border-top: 1rem solid lightgrey;
  border-left: 1rem solid transparent;
}

.requirements {
  align-self: center;
  position: relative;
}

.requirements > i {
  transition: color 0.5s;
}

.requirements:hover > .requirement-tooltip {
  display: block;
}

.requirement-tooltip {
  position: absolute;
  display: none;
  right: 50%;
  bottom: 100%;
  min-width: 15vw;
}

.tooltip-text {
  padding: 0.2rem;
  font-size: small;

  color: #3d3d3d;
  background-color: lightgrey;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}


.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
