<div class="row gutters-sm">
  <div class="col-sm-12 mb-3">
    <div class="card h-100 transparent">
      <div class="card-body">
        <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Profil
          bearbeiten</h6>

        <form class="px-5">
          <div class="form-group row mb-5">
            <label for="exampleFormControlInput1" class="col-sm-2 col-form-label">Anzeigename</label>
            <div class="col-sm-3">
              <input type="email" class="form-control" id="exampleFormControlInput1" value="{{currentUser?.display_name}}" placeholder="Max Mustermann">
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleFormControlInput1" class="col-sm-2  col-form-label">Passwort</label>
            <div class="col-sm-3">
              <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleFormControlInput1" class="col-sm-2 col-form-label">Neues Passwort</label>
            <div class="col-sm-3">
              <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <label for="exampleFormControlInput1" class="col-sm-2 offset-1 col-form-label">Passwort wiederholen</label>
            <div class="col-sm-3">
              <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Abschicken</button>
        </form>
      </div>
    </div>
  </div>
</div>