.golden-border {
  border-radius: 50%;
  padding: 5px;
  background: radial-gradient(
      ellipse farthest-corner at left bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at right top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
}

.round-avatar {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.round-avatar img {
  border: var(--accent-color) solid 1px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.icon-container .upload-icon {
  display: grid;
  align-content: end;

  margin-left: -1rem;
  z-index: 100;
  cursor: pointer;
}

.icon-container {
  display: flex;
  flex-direction: row;
  color: var(--dim-text-color);
}
