.list-box {
  height: 100%;
  display: flex;
  align-items: center;
  color: grey;
}

img.animated-gif {
  width: 40vw;
  max-width: 450px
}

img.animated-gif:hover {
  transition: all 0.2s ease-out;
  filter: drop-shadow(5px 5px 5px black);
  transform: scale(1.02);
}

img.animated-gif:active {
  transition: all 0.2s ease-out;
  filter: drop-shadow(0px 0px 0px black);
  transform: scale(1.0);
}

.wrapper {
  text-align: center;
  position: relative;
}

.darken {
  filter: brightness(50%) !important;
}

.centered-on-gif {
  z-index: 1;
  font-size: 35px;
  font-weight: bolder;
  color: white;
  -webkit-text-stroke-width: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
