
.transparent-banner {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 15%;
  background-color: rgba(61, 61, 61, 0.49);
}

.banner-headline-box {
  pointer-events: visibleFill;
  transition: all 0.3s;
  padding-top: 15px;
  background-image: linear-gradient(to bottom right, #4b4b4b, rgb(55, 55, 55));
}

.banner-headline-text {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-size: x-large;
  border-bottom: #232323 2px solid;
}

.banner-interaction-box {
  padding: 6px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.banner-interaction-box button {
  transition: color, background-color 0.2s;
  height: auto;
  padding: 4px;
}

.element-wrapper {
  width: 20%
}

.icon-wrapper{
  transition: all 0.3s;
  padding: 4px;
  height: 12px;
  width: 12px;
  font-size: small;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.green-box {
  border: rgba(0, 255, 21, 0.3) solid 2px;
}

.red-box {
  border: rgba(255, 0, 27, 0.3) solid 2px;
}

.green-icon {
  border: #00ff15 solid 2px;
  color: #00ff15;
}

.red-icon {
  border: #ff001b solid 2px;
  color: #ff001b;
}

.slight-green {
  color: rgb(205, 238, 200);
}

.slight-red {
  color: #f3ccc9;
}

.button-red {
  background: linear-gradient(to bottom right, #913b3d, rgb(95, 19, 41));
}

.button-red:hover {
  background: linear-gradient(to bottom right, #be4a4c, rgb(132, 27, 57));
}


