<div class="base-flex">
  <div class="head-container">
    <span class="head">Made with <span class="love">❤</span> and fantastic open source resources</span>
  </div>

  <div class="content">
    <div class="element">
      <a>Dice Model:</a><br>
      <a href="https://sketchfab.com/3d-models/dice-170db25fff094f68b6308a8fd6a8fe61">YANGGA @ Sketchfab</a><br>
      <a href="https://creativecommons.org/licenses/by/4.0/">CC Attribution</a>
    </div>
    <div class="element">
      <a>Bottlecap Model:</a><br>
      <a href="https://sketchfab.com/3d-models/nuka-cola-bottle-cap-5c4f018f8d1344f2a214f6c3fbd25c4d">Yogensia @ Sketchfab</a><br>
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC Attribution-NonCommercial-ShareAlike</a>
    </div>
    <div class="element">
      <a>Background CubeMaps:</a><br>
      <a href="http://www.humus.name">Emil Persson aka Humus</a><br>
      <a href="http://creativecommons.org/licenses/by/3.0/">CC Attribution 3.0 Unported License</a>
    </div>
    <div class="element">
      <a>Angular:</a><br>
      <a href="https://angular.io">Angular</a><br>
      <a href="https://angular.io/license">MIT License</a><br>
    </div>
    <div class="element">
      <a>Colyseus:</a><br>
      <a href="https://colyseus.io/">Colyseus</a><br>
      <a href="https://raw.githubusercontent.com/colyseus/colyseus/master/LICENSE">MIT License</a>
    </div>
    <div class="element">
      <a>Ammo.js:</a><br>
      <a href="https://github.com/kripken/ammo.js/">Ammo.js</a><br>
      <a href="https://raw.githubusercontent.com/kripken/ammo.js/master/LICENSE">License</a>
    </div>
    <div class="element">
      <a>Three.js:</a><br>
      <a href="https://threejs.org/">Three.js</a><br>
      <a href="https://raw.githubusercontent.com/mrdoob/three.js/dev/LICENSE">MIT License</a>
    </div>
    <div class="element">
      <div>Icons made by <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </div>
  </div>

  <div class="foot">
    <button (click)="closeMe()">Close</button>
  </div>
</div>
