
<div class="outer-box">
  <div *ngIf="user !== undefined" class="round-avatar golden-border" (click)="fileInput.click()">
      <img [src]="profileSource" alt="'Profile'" #profilePic>
  </div>
  <div class="text">Name: {{user.display_name}}<span class="user-name"> #{{user.login_name}}</span></div>
  <div class="text">Played: {{getTimePlayed()}} </div>
  <div class="text">Since: {{(getDate() | date:'medium' )|| "undefined"}}</div>
  <mat-form-field>
    <mat-label>Select default figure</mat-label>
    <mat-select [(value)]="selectedFigure">
      <mat-option *ngFor="let figure of figureList" [value]="figure.value">
        {{figure.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Environment</mat-label>
    <mat-select [(value)]="selectedEnv">
      <mat-option *ngFor="let env of envList" [value]="env.value">
        {{env.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="text">
    <button (click)="logout()"><i class="fas fa-door-open"></i> Logout</button>
  </div>
  <input
    style="display: none"
    type="file" (change)="onFileChanged($event)"
    #fileInput>
</div>
