/* You can add global styles to this file, and also import other style files */

.transparent {
  background-color: rgba(48, 48, 48, 0.58);
  box-shadow: 3px 3px 11px 0 rgb(0, 0, 0);
  -webkit-box-shadow: 3px 3px 11px 0 rgb(0, 0, 0);
  -moz-box-shadow: 3px 3px 11px 0 rgb(0, 0, 0);
}

.component-box {
  display: flex;
  width: 100%;
}

.bounding-box {
  padding: 8px;
  display: flex;
  width: 100%;
  background-color: #3d3d3d;
  -webkit-box-shadow: 3px 3px 11px 0px rgb(0, 0, 0);
  -moz-box-shadow: 3px 3px 11px 0px rgb(0, 0, 0);
  box-shadow: 3px 3px 11px 0px rgb(0, 0, 0);
}

body {
  --ingame-menu-color-bg: rgba(75, 75, 75, 0.8);
  --golden-radial-bg: radial-gradient(
      ellipse farthest-corner at left bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at right top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );

  --silver-radial-bg: radial-gradient(
      ellipse farthest-corner at left bottom,
      rgba(254, 255, 243, 0.78) 0%,
      #effde8 8%,
      #8b9f9b 30%,
      #868a87 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at right top,
      #ffffff 0%,
      #f3fffa 8%,
      #b0cdd1 25%,
      #525d5b 62.5%,
      #5d4a1f 100%
    );

  --bronze-radial-bg: radial-gradient(
      ellipse farthest-corner at left bottom,
      rgba(130, 83, 63, 0.86) 0%,
      #d78e65 8%,
      rgba(171, 125, 114, 0.77) 30%,
      #8d6e5e 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at right top,
      #edad9c 0%,
      #e0977d 8%,
      #a76e57 25%,
      #5f3b2f 62.5%,
      #5d4a1f 100%
    );

  color: whitesmoke;
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #3d3d3d url('assets/triangleBackground.jpg');
  line-height: 1.2 !important; /*override bootstrap default*/
}

button {
  color: whitesmoke;
  font-family: Roboto, sans-serif;
  background-color: #3d3d3d;
  border: 0;

  height: 32px;

  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.4);
}

button:hover:enabled {
  background-color: grey;
}

button:active:enabled {
  background-color: #3d3d3d;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

button:disabled {
  color: dimgrey;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

input {
  border: 0;
  background-color: transparent;
  border-bottom: solid 1px black;
}

input:focus {
  border-bottom: solid 1px grey;
}

input:hover {
  border-bottom: solid 1px lightgrey;
}

label input::placeholder {
  color: grey;
}

select {
  border: 0;
  background-color: transparent;
  border-bottom: solid 1px black;
}

select:focus {
  border-bottom: solid 1px grey;
}

select:hover {
  border-bottom: solid 1px lightgrey;
}

select > option {
  color: grey;
}

label input,
select,
textarea {
  color: whitesmoke;
}

html,
body {
  height: 100%;
}

.seperator {
  margin: 0.4rem;
  border: grey solid 1px;
  height: 0;
}

.vertical-separator {
  margin: 0.2rem 0.4rem;
  border: grey solid 1px;
  align-self: stretch;
  width: 0;
}

/* modals since angular is finicky with styles for modals. TODO: Fix this.*/
.modalbox-base .mat-dialog-container {
  background-color: #3d3d3d;
  border-radius: 0;
  color: whitesmoke;
  padding: 0;
}

.playerList .mat-chip-list .mat-chip-list-wrapper .mat-standard-chip {
  flex-direction: row;
  min-height: 18px;
  max-height: 18px;
  min-width: 100px;
  width: 70%;
  height: 18px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0px 0px 0px 6px;
  border-radius: 3px;
  background: radial-gradient(
    ellipse farthest-corner at right top,
    #e0e0e0c0 0%,
    #c0c0c0c0 8%,
    #959595c0 25%,
    #7f7f7fc0 97%,
    #727272c0 100%
  );
  color: #ffffff;
}

.optionsList .mat-chip-list .mat-chip-list-wrapper .mat-standard-chip {
  flex-direction: row;
  min-height: 18px;
  max-height: 18px;
  height: 18px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0px 0px 0px 6px;
  border-radius: 3px;
  background: radial-gradient(
    ellipse farthest-corner at right top,
    #e0e0e0c0 0%,
    #c0c0c0c0 8%,
    #959595c0 25%,
    #7f7f7fc0 97%,
    #727272c0 100%
  );
  color: #ffffff;
}

.playerList .mat-chip-list .mat-chip-list-wrapper {
  flex-direction: column;
  justify-items: start;
  align-items: start;
  padding: 3px 5px 3px;
  margin: 0px;
}

.disable-user-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by any browser but < IE9 */
}

.popover-body-class {
  width: 30vw;
  height: 90vh;
  max-width: 50vw;
}

/* Basic styles in regards to auto generated html from markdown */
a {
  color: lightskyblue;
}

a:visited {
  color: #468fbc;
}

code {
  background: rgba(150, 150, 150, 0.3);
  border-radius: 3px;
  padding: 0.2em;
}

pre {
  background: rgba(150, 150, 150, 0.3);
  border-radius: 3px;
  padding: 1rem;
}

pre > code {
  background: transparent;
  padding: 0;
}

blockquote {
  border-left: 2px solid #4c748d;
  background: rgba(150, 150, 150, 0.3);
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 0.3rem;
}

blockquote > p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

table {
  border-collapse: collapse;
  border-left: 2px solid #4c748d;
  border-bottom: 1px solid rgba(150, 150, 150, 0.3);
  margin: 1rem;
}

th {
  background: rgba(150, 150, 150, 0.3);
  padding: 0.5rem;
}

td {
  background: rgba(150, 150, 150, 0.1);
  padding: 0.5rem;
  border-right: 1px solid rgba(150, 150, 150, 0.3);
}

.ngb-toasts {
  position: fixed;
  top: 40% !important;
  right: 0;
  margin: 0.5em;
  z-index: 1200;
}

a {
  text-decoration: none;
}
