<div class="outer-register-bounds">

  <div class="register-tab-container">
    <div (click)="toggleTab($event)" class="register-tab">
      <div class="register-icon-box"><i class="fas fa-home avoid-clicks"></i></div>
      <div class="corner"></div>
    </div>

    <div (click)="toggleTab($event)" class="register-tab">
      <div class="register-icon-box"><i class="fas fa-clipboard avoid-clicks"></i></div>
      <div class="corner selected"></div>
    </div>

    <div (click)="toggleTab($event)" class="register-tab">
      <div class="register-icon-box"><i class="fas fa-person-booth avoid-clicks"></i></div>
      <div class="corner"></div>
    </div>

    <div #registerFooter class="register-tab-footer">
      <div class="reverse-corner"></div>
      <div class="footer-box"></div>
    </div>

  </div>

  <div #tabEdge class="register-edge"></div>

  <div class="register-content">
    <app-home-register *ngIf="tabIndex === 0"
                       [playerlist]="this.playerList"></app-home-register>
    <app-ingame-rule-book *ngIf="tabIndex === 1" [rules]="ruleList"></app-ingame-rule-book>
    <app-vote-system (notifyPlayer)="tabIndex = 2" *ngIf="tabIndex === 2"></app-vote-system>
  </div>
</div>

