<div class="outer-register-bounds">
  <div class="register-tab-container">
    <div (click)="toggleTab(1)" [class]="{ 'register-tab': true, selected: tabIndex === 1 }">
      <div class="register-icon-box"><i class="fas fa-home avoid-clicks"></i></div>
      <div class="corner"></div>
    </div>

    <div (click)="toggleTab(2)" [class]="{ 'register-tab': true, selected: tabIndex === 2 }">
      <div class="register-icon-box"><i class="fas fa-clipboard avoid-clicks"></i></div>
      <div class="corner selected"></div>
    </div>

    <div (click)="toggleTab(3)" [class]="{ 'register-tab': true, selected: tabIndex === 3 }">
      <div class="register-icon-box"><i class="fas fa-person-booth avoid-clicks"></i></div>
      <div class="corner"></div>
    </div>

    <div (click)="toggleTab(4)" [class]="{ 'register-tab': true, selected: tabIndex === 4 }">
      <div class="register-icon-box"><i class="fas fa-person-booth avoid-clicks"></i></div>
      <div class="corner"></div>
    </div>

    <div #registerFooter [class]="{ 'register-tab-footer': true, selected: tabIndex > 0 }">
      <div class="reverse-corner"></div>
      <div class="footer-box"></div>
    </div>
  </div>

  <div #tabEdge [class]="{ 'register-edge': true, selected: tabIndex > 0 }"></div>

  <div class="register-content">
    <app-home-register *ngIf="tabIndex === 1" [playerlist]="this.playerList"></app-home-register>
    <app-ingame-rule-book *ngIf="tabIndex === 2" [rules]="ruleList"></app-ingame-rule-book>
    <app-vote-system *ngIf="tabIndex === 3" (notifyPlayer)="tabIndex = 3"></app-vote-system>
    <app-menu-bar-settings *ngIf="tabIndex === 4"></app-menu-bar-settings>
  </div>
</div>
