
  <div class="base-grid">

    <div class="lobby-settings-anchor" #lobbySettings></div>
    <h2 class="base-header" mat-dialog-title>Erstelle einen neuen Raum</h2>

    <div class="lobbySettings">
      <div class="lobbyNameContainer">
        <p>Raum Einstellungen:</p>
        <label>
          Name:
          <input [(ngModel)]="roomName">
        </label>
      </div>
      <div>
        <p>Spiel Optionen:</p>
        <div title="Ob die Spielfeldkacheln zufällig angeordnet werden sollen oder nicht." class="button-group">
          <button class="switch" [class.switchActive]="randomizeTiles" (click)="randomizeTiles = !randomizeTiles">
            Zufällige Felder
          </button>
          <button title="Diese Funktion ist noch nicht implementiert." class="switch line-through" [class.switchActive]="enableItems" (click)="enableItems = !enableItems" disabled>
            Erlaube Items
          </button>
          <button title="Diese Funktion ist noch nicht implementiert." class="switch line-through" [class.switchActive]="enableMultipleItems" (click)="enableMultipleItems = !enableMultipleItems" [disabled]="!enableItems ? true : null">
            Multiple Items
          </button>
        </div>

      </div>
    </div>

    <div class="carousel-container">
      <ngb-carousel #deckCarousel (slide)="slide($event)" [showNavigationIndicators]="false">
        <ng-template ngbSlide id="deckSlide-{{deck.id}}" *ngFor="let deck of this.tileSetList; let i = index" (slid)='slid($event, i)'>
          <div class="carousel-deck-item">
            <img [src]="deck.thumbnailPath" alt="{{deck.name}}">
            <div class="deck-info-container container">
              <div class="deck-info-header row">
                <div class="col-3"><h3>{{deck.name}}</h3></div>
                <div class="col-3 font-italic ms-auto"><h5 class="text-end">{{deck.author.display_name}}</h5></div>
              </div>
              <div class="deck-info-tag-container my-2 row">
                <span *ngFor="let tag of deck.tags" class="rounded-pill bg-dark border" >{{tag.tag}}</span>
              </div>
              <p class="row">{{deck.description}}</p>
              <div class="row">
                <div class="showTileListButtonContainer d-flex justify-content-end">
                  <button type="button" (click)="this.scrollRight()">Spielfeldkacheln</button>

                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
      <a role="button" class="carousel-control-prev ng-star-inserted" (click)="this.deckCarousel.prev()"
         *ngIf="!this.popoverVisible || this.selectedTileSet === undefined">
        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a role="button" class="carousel-control-next ng-star-inserted" (click)="this.deckCarousel.next()"
         *ngIf="!this.popoverVisible || this.selectedTileSet === undefined">
        <span aria-hidden="true" class="carousel-control-next-icon"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <mat-dialog-content class="customScrollBarContainer">
      <div class="deck-list">
        <div [class]="{'disable-user-select':true, 'deck-list-entry':true, 'py-2':true, 'row':true, 'active': this.selectedTileSetId === i}"
             id="deck-list-entry-{{i}}"
             *ngFor="let deck of this.tileSetList; let i = index"
             (click)="selectCarousel(deck.id)">
          <div class="col-3">
            <img [src]="deck.thumbnailPath" alt="{{deck.name}}" draggable="false">
          </div>
          <div class="col-9 deck-list-item-info">
            <div class="row deck-list-item-info-header">
              <div class="col-3"><h3>{{deck.name}}</h3></div>
              <div class="col-3 font-italic my-auto ms-auto"><h5 class="text-end">{{deck.author.display_name}}</h5></div>
            </div>
            <div class="row deck-info-tag-container my-2 mx-1">
              <span *ngFor="let tag of deck.tags" class="rounded-pill bg-dark border" >{{tag.tag}}</span>
            </div>
          </div>
        </div>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions class="foot-one">
      <button class="large-dialog-button" (click)="closeMe()">Abbrechen</button>
      <button class="large-dialog-button" (click)="createGame()">Erstellen</button>
    </mat-dialog-actions>

    <h2 class="tileset-header" mat-dialog-title>
      Tileset informationen
    </h2>

    <div class="popover-scroll-container customScrollBarContainer" id="tiles" #tiles>
        <div class="popTileListContentTile" *ngFor="let tile of this.tileListAsSet | keyvalue" title="{{tile.value.bt.name}}: {{tile.value.bt.description}}">
          <img [src]="tile.value.bt.path" alt="{{tile.value.bt.name}}" draggable="false">
          <div class="tile-info">
            <h5>{{tile.value.bt.name}}</h5>
            <span>{{tile.value.bt.description}}</span>
          </div>
          <div class="frequency-badge" title="Dieses Feld wird bis zu {{tile.value.count}} mal auf dem Spielfeld platziert.">
            <span>{{tile.value.count}}x</span>
          </div>
        </div>
    </div>

    <mat-dialog-actions class="foot-two">
      <button class="large-dialog-button" (click)="scrollLeft()">Zurück</button>
    </mat-dialog-actions>

  </div>
