
<div class="interface-bounds">
  <app-state-display
    [round]="currentState.round"
    [currentPlayerDisplayName]="getDisplayName(currentState.currentPlayerLogin)"
    [action]="currentState.action">
  </app-state-display>
  <app-chat-window (chatCommand)="executeChatCommand($event)" #chat></app-chat-window>
  <app-pregame-banner *ngIf="!currentState.hasStarted" [players]="asArray(currentState.playerList)"></app-pregame-banner>
  <app-connected-players
    [players]="asArray(currentState.playerList)"
    [currentPlayerDisplayName]="getDisplayName(currentState.currentPlayerLogin)">
  </app-connected-players>
  <app-ingame-rule-book [rules]="currentState.rules"></app-ingame-rule-book>
</div>
