<div class="login-box">
  <span>{{languageObjects.logInTitle}}</span>
  <div class="spacer" ></div>
  <div>
    <label>
      {{languageObjects.logInUser}}
      <input placeholder="{{languageObjects.logInUser}}" [(ngModel)]="login_name" (keyup)="enter($event)">
    </label>
  </div>
  <div>
    <label>
      {{languageObjects.logInPass}}
      <input type="password" placeholder="{{languageObjects.logInPass}}" [(ngModel)]="password_plain" (keyup)="enter($event)">
    </label>
  </div>
  <div class="buttons">
    <button (click)="onLogin()">{{languageObjects.logInSubmit}}</button>
    <span></span>
    <span (click)="openRegisterDialog()" class="register-link">{{languageObjects.logInRegister}} <i class="fas fa-angle-double-right"></i></span>
  </div>
  <div class="error-text"><i *ngIf="errorMessage.length > 0" class="fas fa-exclamation-triangle"></i><span *ngIf="errorMessage.length > 0" [innerHTML]="errorMessage"></span></div>
</div>
